<%= form_with(url: path, method: :get, local: true) do |form| %>
  <div class="form-row mb-2">
    <div class="col-6 col-lg-2 mb-1 mb-lg-0">
      <%= date_field_tag :from, {}, value: @from, class: "form-control" %>
    </div>
    <div class="col-6 col-lg-2">
      <%= date_field_tag :to, {}, value: @to, class: "form-control" %>
    </div>
    <% if houses.count > 1 %>
      <div class="col-6 col-lg-2">
        <%= select_tag :hid,
            options_for_select(houses.map {|h| [h.code, h.id]}, @hid),
              { include_blank: 'All houses', class: "form-control selectpicker", data: {'live-search': 'true'} } %>
      </div>
    <% end %>
    <div class="col-3 col-lg-2">
      <%= submit_tag 'Show', class: "btn btn-primary btn-block" %>
    </div>
    <div class="col-3 col-lg-2">
      <% if @hid.present? %>
        <%= link_to 'Add', new_admin_house_booking_path(@hid), class: "btn btn-success btn-block" %>
      <% else %>
        <%= link_to 'Add', new_booking_path, class: "btn btn-success btn-block" %>
      <% end %>
    </div>
  </div>
<% end %>
