<h1>Canceled bookings <%= @house.code if @house %> (<%= @bookings.count %>)</h1>
<%= render 'tabs' %>
<div class="bg-white p-2 border-top-0">
  <%= render 'controls', path: canceled_bookings_path, houses: @houses %>
  <%= render 'table', bookings: @bookings %>
</div>
