<h1>Check in/out - <%= @type %></h1>
<%= form_with(url: check_in_out_bookings_path, local: true, method: :get) do |f| %>
  <div class="form-row">
    <div class="col-lg-2 form-group">
      <%= date_field_tag :from, {}, value: params[:from], class: "form-control" %>
    </div>
    <div class="col-lg-2 form-group">
      <%= date_field_tag :to, {}, value: params[:to], class: "form-control" %>
    </div>
    <div class="col-lg-4 form-group">
      <%= f.submit 'All', class: 'btn btn-primary' %>
      <%= f.submit 'Check in', class: 'btn btn-primary' %>
      <%= f.submit 'Check out', class: 'btn btn-primary' %>
      <%= f.submit 'Block', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<% date = '' %>
<% @result.each do |r| %>
  <%#= "#{date} != #{r[:date]}"  %>
  <% if date != r[:date] %>
    <% css = 'font-weight-bold' %>
    <% date = r[:date] %>
  <% end %>
  <div class="shadow-sm mb-2 p-2 bg-white border rounded">
    <span class="<%= css %>">
      <%=  "#{r[:date]} #{r[:type]} #{r[:house]} (#{r[:status]})" %>
    </span><br />
    Client: <%=  r[:client] %><br />
    Our transfer:
    <% r[:transfers].each do |t| %>
      <%= t %><br />
    <% end %>
    <br />
    <% booking = Booking.find(r[:booking_id]) %>
    <% if r[:type] == "IN" %>
      Period: <%= " #{booking.start.to_fs(:date)} -
                      #{booking.finish.to_fs(:date)} /
                      #{(booking.finish-booking.start).to_i} days" %>
      <br />
      <%# paid = booking.transactions.joins(:balance_outs).sum(:debit) %>
      <%# nett_in = booking.sale - booking.agent %>
      <!-- Sale price: <%#= number_to_currency(booking.sale, precision: 0, unit: '') %> -->
      <!-- Paid: <%#= number_to_currency(paid, precision: 0, unit: '') %>
        Balance: <%#= number_to_currency(nett_in - paid, precision: 0, unit: '') %><br /> -->
    <% end %>
    Source: <%= booking.source.name if booking.source %><br />
    <%=  "Comment: #{r[:comment]}" %>
    <%= link_to "Edit comment", '#', class: 'edit_comment',
                                      data: { booking_id: r[:booking_id],
                                              type: r[:type]} %>
    <%= form_with model: booking,
                    url: booking_update_comment_gr_path(r[:booking_id]),
                    local: true,
                    class: 'form_edit_comment_gr d-none',
                    data: { booking_id: r[:booking_id],
                            type: r[:type] } do |f| %>
      <div class="form-group">
        <%= f.text_field :comment_gr, class: "form-control", rows: 1 %>
      </div>
      <div class="form-group text-right">
        <%= f.submit "Save", class: 'btn btn-primary' %>
        <%= link_to "Cancel", '#',
                class: 'btn btn-secondary cancel_edit_comment',
                data: { booking_id: r[:booking_id] }
           %>
      </div>
    <% end %>
  </div>
<% end %>
