<h1>
  <%= t('bookings') %> <%= House.find(@hid).code if @hid.present? %> (<%= @bookings.count %>)
</h1>
<%= render 'controls', path: bookings_front_path, houses: @houses %>
<%= render 'table_front', bookings: @bookings %>
