<% path = [house, season] if action_name == 'new' %>
<% path = season if action_name == 'edit' %>
<%= form_with(model: path, local: true) do |form| %>
  <% if season.errors.any? %>
    <%= render 'shared/error_messages', object: form.object %>
  <% end %>

  <div class="form_row">
    <div class="form_group col-2">
      <%= form.label :ssd %>
      <%= form.number_field :ssd, class: 'form-control' %>
    </div>
  </div>

  <div class="form_row">
    <div class="form_group col-2">
      <%= form.label :ssm %>
      <%= form.number_field :ssm, class: 'form-control' %>
    </div>
  </div>

    <div class="form_row">
      <div class="form_group col-2">
      <%= form.label :sfd %>
      <%= form.number_field :sfd, class: 'form-control' %>
    </div>
  </div>

  <div class="form_row">
    <div class="form_group col-2">
      <%= form.label :sfm %>
      <%= form.number_field :sfm, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
  </div>

<% end %>
