<p id="notice"><%= notice %></p>

<p>
  <strong>Ssd:</strong>
  <%= @season.ssd %>
</p>

<p>
  <strong>Ssm:</strong>
  <%= @season.ssm %>
</p>

<p>
  <strong>Sfd:</strong>
  <%= @season.sfd %>
</p>

<p>
  <strong>Sfm:</strong>
  <%= @season.sfm %>
</p>

<p>
  <strong>House:</strong>
  <%= @season.house_id %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
