<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_en %>
    <%= form.text_field :name_en, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :name_ru %>
    <%= form.text_field :name_ru, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :descr_en %>
    <%= form.text_area :descr_en, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :descr_ru %>
    <%= form.text_area :descr_ru, class: "form-control" %>
  </div>

  <div class="actions mt-2">
    <%= form.submit 'Save', class: "btn btn-primary" %>
    <%= link_to 'Back', locations_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
