<p id="notice"><%= notice %></p>

<p>
  <strong>Name en:</strong>
  <%= @location.name_en %>
</p>

<p>
  <strong>Name ru:</strong>
  <%= @location.name_ru %>
</p>

<p>
  <strong>Descr en:</strong>
  <%= @location.descr_en %>
</p>

<p>
  <strong>Descr ru:</strong>
  <%= @location.descr_ru %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
