<div class="shadow-sm mr-md-2 mt-2 p-2 border rounded bg-white" data-file-id="<%= file.id %>">
  <% if File.extname(file.url) == ".pdf" %>
    <% file_type = 'pdf' %>
    <embed src="<%= file.full_url %>#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width='250px' height='250px' />
  <% else %>
    <% file_type = 'image' %>
    <a href="#" data-link-to-file><img src="<%= file.full_url %>" width="250px"></a>
  <% end %>
  <div class='row'>
    <div class="col-6">
      <div class="form-check">
        <%= check_box_tag 'show_file', file.show == true ? false : true, file.show == true ? true : false, id: "show_file_#{file.id}", class: 'form-check-input', data: {id: file.id} %>
        <label class="form-check-label" for=<%= "show_file_#{file.id}" %>>
          Show
        </label>
      </div>
    </div>
    <div class='col-6 text-right'>

      <%= link_to 'Save 1', "#", data: {'download-file': file.url} %>
      <%= link_to 'Save 2', file.full_url, download: "#{File.basename(file.url)}" %>
      <a href="https://150yearssampleapp.s3.ap-northeast-2.amazonaws.com/2011-08-26+17.37.38.jpg" download>Save 3</a>

      <% if file_type == 'pdf' %>
        <%= link_to 'Open pdf', file.full_url, target: '_blank' %> |
      <% end %>
      <%= link_to 'Print', "#", data: {print: file.full_url, type: file_type} %> |
      <%= link_to 'Delete', transaction_file_path(id: file.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
    </div>
  </div>

</div>
