<p id="notice"><%= notice %></p>

<h1>House Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @house_groups.each do |house_group| %>
      <tr>
        <td><%= house_group.name %></td>
        <td><%= link_to 'Show', house_group %></td>
        <td><%= link_to 'Edit', edit_house_group_path(house_group) %></td>
        <td><%= link_to 'Destroy', house_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House Group', new_house_group_path %>
