<%= form_with model: search, url: search_path, method: 'get', local: true do |f| %>
  <% if search.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>
  <div class="form-row js_rangepicker">
    <div class="col-md-4">
      <%= f.label :rs %>
      <%= f.text_field :rs, class: 'form-control', autocomplete: 'off'%>
    </div>
    <div class="col-md-4">
      <%= f.label :rf %>
      <%= f.text_field :rf, class: 'form-control', autocomplete: 'off'%>
    </div>
    <div class="col-md-4 d-flex align-items-end pt-2">
      <%= f.submit defined?(btn_text) ? btn_text : t('search.search'), class: "btn btn-primary btn-block"%>
    </div>
  </div>
<% end %>
