<h1><%= t('search.results') %></h1>
<%= render 'form', search: @search %>
<div class="duration">Total rental period: <%= @search.duration %> days</div>
<% (1..10).each do |number| %>
<% end %>
<% @houses.each do |h| %>
  <% next if @prices[h.id].nil? %>
  <div class="row shadow-sm mb-2 p-2 bg-white border rounded">
    <div class="col-md-3 preview">
      <%= image_tag h.preview, class: 'img-fluid' if h.preview %>
    </div>
    <div class="col-md-7 house">
      <h5><%= link_to h.send("title_#{I18n.locale}"), house_path(h.number), target: "_blank" %></h5>
      <%= t('houses.location') %>: <%= h.locations.map{|l| l.send("name_#{I18n.locale}")}.join(', ') %>
      <p>
        <%= t('houses.capacity', count: h.capacity) %>, <%= t('houses.rooms', count: h.rooms) %>, <%= t('houses.bathrooms', count: h.bathrooms) %>
      <br />
        <%= h.pool ? "#{t('houses.pool')}, " : '' %>
        <%= h.communal_pool ? "#{t('houses.communalPool')}, " : '' %>
        <%= h.option('Air conditioner') ? "#{t('houses.ac')}, " : '' %>
        <%= h.option('Internet') ? "#{t('houses.internet')}, " : '' %>
        <%= h.option('Kitchen') ? t('houses.kitchen') : '' %>

      </p>
    </div>
    <div class="col-md-2 price"> <%= "#{@prices[h.id][:total]} THB" %></div>
  </div>
<% end %>
