<h1><%= t('search.results') %></h1>
<%= render 'form', search: @search %>
<div class="duration">Total rental period: <%= @search.duration %> days</div>
<% @houses.each do |h| %>
  <% next if @prices[h.id].nil? %>
  <div class="row shadow-sm mb-2 p-2 bg-white border rounded">
    <div class="col-md-3 preview">
      <%= image_tag h.preview if h.preview %>
      Code: <%= h.code %>
    </div>
    <div class="col-md-7 house">
      <%= link_to h.send("title_#{I18n.locale}"), house_path(h.number), target: "_blank" %>
    </div>
    <div class="col-md-2 price"> <%= "#{@prices[h.id][:total]} THB" %></div>
  </div>
<% end %>
