<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <%= render 'shared/error_messages', object: form.object %>
  <% end %>

  <div class="row form-group">
    <%#= form.label :owner_id, class: 'col-md-1 col-form-label' %>
    <div class="col-md-2 ">
      <%= form.select :owner_id,
            @owners.all.map {|o| ["#{o.name} #{o.surname}", o.id]},
                      { prompt: 'Select owner' }, { class: "form-control",  } %>
    </div>
    <%#= form.label :type_id, class: 'col-md-1 col-form-label' %>
    <div class="col-md-2 ">
      <%= form.select :type_id,
            @types.all.map {|t| [t.send("name_#{I18n.locale}"), t.id]},
                      { prompt: 'Select type' }, { class: "form-control",  } %>
    </div>
    <%#= form.label :code, class: 'col-md-1 col-form-label' %>
    <div class="col-md-2 ">
      <%= form.text_field :code, class: 'form-control', placeholder: 'Code' %>
    </div>

  </div>

  <div class="shadow-sm mb-2 p-2 bg-light rounded">
    <strong>English</strong>
    <hr>
    <div class="row">
      <div class="col-6 form-group">
        <%= form.label :title_en %>
        <%= form.text_field :title_en, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <%= form.label :description_en %>
        <%= form.text_area :description_en, class: 'form-control', rows: 6 %>
      </div>
    </div>
  </div>

  <div class="shadow-sm mb-2 p-2 bg-light rounded">
    <strong>Русский</strong>
    <hr>
    <div class="row">
      <div class="col-6 form-group">
      <%= form.label 'Заголовок' %>
      <%= form.text_field :title_ru, class: 'form-control'%>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <%= form.label 'Описание' %>
        <%= form.text_area :description_ru, class: 'form-control', rows: 6  %>
      </div>
    </div>
  </div>
  <div class="shadow-sm mb-2 p-2 bg-light rounded">
    <strong>General details</strong>
    <hr>
    <div class="row">
      <div class="col-1 form-group">
        <%= form.label :rooms %>
        <%= form.number_field :rooms, class: 'form-control' %>
      </div>
      <div class="col-1 form-group">
        <%= form.label :bathrooms %>
        <%= form.number_field :bathrooms, class: 'form-control' %>
      </div>
      <div class="col-1 form-group">
        <%= form.label :size %>
        <%= form.number_field :size, class: 'form-control' %>
      </div>
      <div class="col-1 form-group">
        <%= form.label :plot_size %>
        <%= form.number_field :plot_size, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-1 form-group">
        <div class="form-check">
          <%= form.check_box :pool, { class: 'form-check-input',
                                  id: 'pool_check_box' } %>
          <%= form.label :pool, {     class: 'form-check-label',
                                  for: 'pool_check_box' } %>
        </div>
      </div>
      <div class="col-2 form-group">
        <div class="form-check">
          <%= form.check_box :communal_pool, { class: 'form-check-input',
                                  id: 'communal_pool_check_box' } %>
          <%= form.label :communal_pool, {     class: 'form-check-label',
                                  for: 'communal_pool_check_box' } %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2 form-group">
        <%= form.label 'Pool size, sq m' %>
        <%= form.number_field :pool_size, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-check mb-2">
    <%= form.check_box :unavailable, { class: 'form-check-input',
                            id: 'unavailable_check_box' } %>
    <%= form.label :unavailable, {     class: 'form-check-label',
                            for: 'unavailable_check_box' } %>
  </div>


  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', houses_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
