<% houses.each do |house| %>
  <div class='shadow-sm mb-2 p-2 border rounded bg-white house' data-house-code="<%= house.code %>">
    <div class="row">
      <div class="col-md-2"><strong><%= house.code %></strong></div>
      <div class="col-md-10">
        Title: <%= house.generated_title(I18n.locale) %><br/>
        Owner: <%= "#{house.owner.name} #{house.owner.surname}" %><br />
        Address: <%= house.address %><br />
      </div>
    </div>
    <div class="text-right">
      <%= link_to 'Balance', transactions_path( owner_id: house.owner.id, house_id: house.id, commit: "Full") %> |
      <%= link_to 'Bookings', house_bookings_path(house.id) %> |
      <%= link_to 'Details', edit_house_path(house.number) %> |
      <%= link_to 'Prices', house_prices_path(house.number) %> |
      <%= link_to 'Photos', house_photos_path(house.number) %> |
      <% if current_user.role?('Admin') %>
        <%= link_to 'Destroy', house_path(house.number), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
