<h1>Houses</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Code</th>
      <th>Title en</th>
      <th>Title ru</th>
      <th>Owner</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <% if house.unavailable %>
        <tr class="text-muted">
      <% else %>
        <tr>
      <% end %>
        <td><%= house.code %></td>
        <td><%= house.title_en %></td>
        <td><%= house.title_ru %></td>
        <td><%= "#{house.owner.name} #{house.owner.surname}" %></td>
        <td>
          <%= link_to 'Show' %>
          <%= link_to 'Edit', edit_house_path(house) %>
          <%= link_to 'Prices', house_prices_path(house) %>
          <%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>
