<% provide(:title, @house.send("title_#{I18n.locale}")) %>
<p id="notice"><%= notice %></p>

<h1><%= @house.send("title_#{I18n.locale}") %></h1>

<div class="row">
  <div class="col">
    <%= link_to image_tag(@house.preview), "javascript:;", id: 'gallery_preview' %>
    <div id="lightgallery" class="d-none">
      <% @house.photos.each do |photo| %>
        <% house_title = @house.send("title_#{I18n.locale}") %>
        <% photo_title = photo.send("title_#{I18n.locale}") %>

        <% caption = "<h4>#{house_title}</h4><p>#{photo_title}</p>" %>
        <a href="<%= photo.original %>" data-sub-html="<%= caption %>">
          <img src="<%= photo.thumb %>" alt="<%= photo.send("title_#{I18n.locale}") %>" />
        </a>
      <% end %>
    </div>
  </div>

</div>

<p>
  <strong><%= t('house.description') %></strong>
  <%= I18n.locale %>
  <%= @house.send("description_#{I18n.locale}") %>
</p>
