<h1>Salary#calc</h1>
<%= form_with(url: salary_calc_path, method: :get, local: true) do |f| %>
  <div class="form-row">
    <div class="col-6 col-lg-2 mb-1 mb-lg-0">
      <%= date_field_tag :from, {}, value: @from, class: "form-control" %>
    </div>
    <div class="col-6 col-lg-2 mb-1 mb-lg-0">
      <%= date_field_tag :to, {}, value: @to, class: "form-control mb-2 mr-md-2" %>
    </div>
    <%= submit_tag t('show'), class: "btn btn-primary mb-2 mr-2" %>
  </div>
<% end %>

<table class='table'>
  <% total = 0 %>
  <% @ts_now.each do |t| %>
    <tr>
      <td><%= "#{t.booking_start.strftime('%d.%m.%Y')}-#{t.booking_finish.strftime('%d.%m.%Y')}" %></td>
      <td><%= t.income %></td>
      <td><%= t.income*0.3 %></td>
      <% total += t.income %>
    </tr>
  <% end %>
  <% @ts_before.each do |t| %>
    <tr>
      <td><%= "#{t.booking_start.strftime('%d.%m.%Y')}-#{t.booking_finish.strftime('%d.%m.%Y')}" %></td>
      <td><%= t.income %></td>
      <td><%= t.income*0.3 %></td>
      <% total += t.income %>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td><%= total %></td>
    <td><%= total*0.3 %></td>
  </tr>
</table>
