<p id="notice"><%= notice %></p>

<h1>Empl Types</h1>

<table class='table table-striped table-bordered table-sm table-responsive-lg'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @empl_types.each do |empl_type| %>
      <tr>
        <td><%= empl_type.name %></td>
        <td><%= link_to 'Show', empl_type %> |
        <%= link_to 'Edit', edit_empl_type_path(empl_type) %> |
        <%= link_to 'Destroy', empl_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empl Type', new_empl_type_path %>
