<% if current_user.role?('Admin') %>
  <div class="row">
    <div class="col-md-6">
      <h5>Notifications</h5>
      <% @notifications.each do |n| %>
        <div class='shadow-sm mb-2 p-2 border rounded bg-white notification' data-id='<%= n.id %>' >
          <div>
            <b><%= n.house.code %></b>
            <%= n.text %>
          </div>
          <div class='float-left'>
            <small><%= link_to 'Dismiss', notification_path(n.id), method: :delete, remote: true %></small>
          </div>
          <div class="text-right">
              <small><%= n.created_at.in_time_zone('Bangkok').strftime('%d.%m.%Y %H:%M:%S') %></small>
          </div>
        </div>
      <% end %>
    </div>
</div>
<% end %>
