<% bg_color = 'bg-white' %>
<% link_text = 'Open' %>
<% if @active_job_id == job.id %>
<% bg_color = 'bg-light' %>
<% link_text = 'Active' %>
<% end %>

<div class="shadow-sm mb-2 p-2 border rounded <%= bg_color %>" id="job_<%= job.id %>">
  <% if current_user.role? :admin %>
    <%= "#{job.user.name}:" if job.user_id %>
  <% end %>
  <%= "#{job.house.code} - " if job.house %>
  <%= job.job %>
  <%= "(#{job.plan.strftime('%d.%m.%Y')})" if job.plan.present? %>
  <%= link_to link_text, jobs_path(job_id: job.id), class: "open_job_chat", data: {job_id: job.id} %> |
  <% if (job.creator == current_user) || current_user.role?(:admin) %>
    <%= link_to 'Edit', '#', id: "edit_job", data: {job_id: job.id}  %> |
    <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>

  <% if job.closed.nil? %>
    <%= link_to 'Done', job_path(job, done: true), method: :put, remote: true %>
  <% else %>
    <%= link_to 'Undone', job_path(job, done: false), method: :put, remote: true %>
  <% end %>
  S: <%= job.status %>
</div>


        <div class="mt-2" style="display: none;" id="form_edit_job_<%= job.id %>">
          <%= form_with(model: job, class: "update_job") do |f| %>
            <%= f.text_area :job, class: 'form-control', row: 2,
              data: {job_id: job.id, field: 'job'} %>
            <%= f.submit 'Save', {  class: "btn btn-primary mt-2"} %>

          <% end %>
        </div>
