<h1>Jobs</h1>
<div id='jobs'>
  <% if @for == :maids %>
    <% date = "" %>
    <% @jobs.each do |job| %>
      <% if date != job.plan %>
        <strong><%= job.plan %></strong>
        <% date = job.plan %>
      <% end %>
      <%= render 'job_maid', job: job %>
    <% end %>
  <% else %>
    <%= link_to 'New Job', new_job_path %> |
    <% if params[:closed].present? %>
      <%= link_to 'Opened Jobs', jobs_path() %>
    <% else %>
      <%= link_to 'Closed Jobs', jobs_path(closed: 1) %>
    <% end %>
    <% @jobs.each do |job| %>
      <div id="job_<%= job.id %>">
        <%= render 'job_managers', job: job %>
      </div>
    <% end %>

  <% end %>
</div>

