<h1>Laundry </h1>
<h5>
Today/วันนี้ <%= Time.zone.now.in_time_zone('Bangkok').to_date.strftime('%d.%m.%Y') %>
</h5>
<div class='mt-2'>
<%= form_with(url: laundry_path, local: true, method: :get) do |f| %>
  <div class="form-row">
    <div class="col-lg-2 form-group">
      <%= date_field_tag :from, {}, value: params[:from], class: "form-control" %>
    </div>
    <div class="col-lg-2 form-group">
      <%= date_field_tag :to, {}, value: params[:to], class: "form-control" %>
    </div>
    <div class="col-lg-3 form-group">
      <%= f.submit 'Show', class: 'btn btn-primary' %>
      <%= link_to 'Drop filter', laundry_path, class: 'btn btn-secondary'  %>
    </div>
  </div>
<% end %>
</div>

<% if @error_message.present? %>
  <div class="alert alert-warning" role="alert">
    <%= @error_message %>
  </div>
<% else %>
  <div class="form-row d-none d-md-flex">
    <div class="col-md-3 form-group font-weight-bold">
      Change/เปลี่ยน
    </div>
    <div class="col-md-2 form-group font-weight-bold">
      Collect/รับ
    </div>
    <div class="col-md-2 form-group font-weight-bold">
      Send/ส่ง
    </div>
    <div class="col-md-1 form-group font-weight-bold">
      Rooms/ห้อง
    </div>
    <div class="col-md-1 form-group font-weight-bold">
      Price/ราคา
    </div>
    <div class="col-md-2 form-group font-weight-bold">
      Comment/หมายเหตุ
    </div>
  </div>
  <% ladunry_totals = {} %>
  <% @laundry.each do |l| %>
    <% house_code = l.house.code if l.house %>
    <% house_code = l.booking.house.code if l.booking %>
    <% ladunry_totals[house_code] = {qty:0, price: 0} if !ladunry_totals.key?(house_code) %>
    <% ladunry_totals[house_code][:qty] += l.rooms if !l.rooms.nil? %>
    <% ladunry_totals[house_code][:color] = 'red' if l.rooms.nil? || !l.rooms.present? || l.rooms == 0 %>
    <% ladunry_totals[house_code][:price] += l.price if !l.price.nil? %>
    <% ladunry_totals[house_code][:color] = 'red' if l.price.nil? || !l.price.present? || l.price == 0 %>
    <div class="shadow-sm mb-2 p-2 bg-white border rounded">
      <%= form_with model: l, local: true, url: update_laundry_path(l) do |f| %>
        <% if l.errors.any? %>
          <%= render 'shared/error_messages', object: f.object %>
        <% end %>
        <div class="form-row">
          <div class="col-md-3 form-group ">
            <span class='font-weight-bold'>
              <%= l.plan.strftime('%d.%m.%Y') %> -
              <%= l.house.code if l.house %>
              <%= l.booking.house.code if l.booking %>
              <%= l.job_type.code %>
            </span>
            <br />
            <%= l.job %>
          </div>
          <div class="col-md-2 form-group">
            <%= f.label 'Collect/รับ', class: 'd-md-none' %>
            <%= f.date_field :collected, class: 'form-control' %>
          </div>
          <div class="col-md-2 form-group">
            <%= f.label 'Send/ส่ง', class: 'd-md-none' %>
            <%= f.date_field :sent, class: 'form-control' %>
          </div>
          <div class="col-md-1 form-group">
            <%= f.label 'Rooms/ห้อง', class: 'd-md-none' %>
            <%= f.number_field :rooms, class: 'form-control' %>
          </div>
          <div class="col-md-1 form-group">
            <%= f.label 'Price/ราคา', class: 'd-md-none' %>
            <%= f.number_field :price, class: 'form-control' %>
          </div>
          <div class="col-md-2 form-group">
            <%= f.label 'Comment/หมายเหตุ', class: 'd-md-none' %>
            <%= f.text_field :comment, class: 'form-control' %>
          </div>
          <div class="col-md-1 form-group">
            <%= f.submit 'Save', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="form-row">
    <div class="col-md-8 form-group font-weight-bold text-right">
      Total:
    </div>
    <div class="col-md-4 form-group font-weight-bold">
      <%= @laundry.sum(:price) %>
      <% if !current_user.role? ['Maid'] %>
        <% total_sale = 0 %>
        <% ladunry_totals.each do |k, v| %>
          <br />
          <span style="color:<%= v[:color] %>">
            <%= "#{k}, #{v[:qty]} rooms = Nett #{v[:price]} / Sale #{v[:qty]*300*1.07}" %>
            <% total_sale += v[:qty]*300*1.07 %>
          </span>
        <% end %>
        <br /><span>Sale: <%= total_sale %></span>
      <% end %>
    </div>
  </div>
<% end %>


