<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <%= render 'shared/error_messages', object: form.object %>
  <% end %>

  <div class="row">
    <div class="col-md-2 form-group">
      <%= form.date_field :start, class: 'form-control' %>
    </div>

    <div class="col-md-2 form-group">
      <%= form.date_field :finish, class: 'form-control' %>
    </div>

    <div class="col-md-2 form-group">
      <%= form.select :house_id,
            @houses.all.map {|h| [h.code, h.id]},
                      { prompt: 'Select house' }, { class: "form-control",  } %>
    </div>

    <div class="col-md-2 form-group">
      <%= form.select :tenant_id,
            @tenants.all.map {|t| ["#{t.name} #{t.surname}", t.id]},
                      { prompt: 'Select tenant' }, { class: "form-control",  } %>
    </div>

    <div class="col-md-2 form-group">
      <%= form.select :status, ["confirmed", "block"], {}, { class: "form-control"} %>
    </div>

  </div>
  <div class="row">
    <div class="col-md-2 form-group">
      <%= form.label :sale %>
      <%= form.number_field :sale, class: 'form-control calcs' %>
      <small>Origial: <%= @booking_original.sale if !@booking_original.nil? %></small>
    </div>
    <div class="col-md-2 form-group">
      <%= form.label :agent %>
      <%= form.number_field :agent, class: 'form-control calcs' %>
    </div>
    <div class="col-md-2 form-group">
      <%= form.label :comm %> <span id='comm_percent'><%= ((@booking.agent+@booking.comm)/@booking.sale.to_f*100).round(2) if !@booking_original.nil? %></span> %
      <%= form.number_field :comm, class: 'form-control calcs' %>
      <small>Origial: <%= @booking_original.comm if !@booking_original.nil? %></small><br />
    </div>
    <div class="col-md-2 form-group">
      <%= form.label :nett %>
      <%= form.number_field :nett, class: 'form-control calcs' %>
      <small>Origial: <%= @booking_original.nett if !@booking_original.nil? %></small>
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <%= form.text_area :comment, class: 'form-control', rows: 6 %>
    </div>
  </div>

  <div>
      <%= form.submit 'Save', class: 'btn btn-primary' %>
      <% if @booking.house %>
        <%= link_to 'Back', house_bookings_path(@booking.house.number), class: 'btn btn-secondary' %>
      <% else %>
        <%= link_to 'Back', bookings_path, class: 'btn btn-secondary' %>
      <% end %>
  </div>
<% end %>
