<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <%= render 'shared/error_messages', object: form.object %>
  <% end %>

  <div class="row">
    <div class="col-md-2 form-group">
      <%= form.date_field :start, class: 'form-control' %>
    </div>

    <div class="col-md-2 form-group">
      <%= form.date_field :finish, class: 'form-control' %>
    </div>

    <div class="col-md-2 form-group">
      <%= form.select :house_id,
            @houses.all.map {|h| [h.code, h.id]},
                      { prompt: 'Select house' }, { class: "form-control",  } %>
    </div>

    <div class="col-md-2 form-group">
      <%= form.select :tenant_id,
            @tenants.all.map {|t| ["#{t.name} #{t.surname}", t.id]},
                      { prompt: 'Select tenant' }, { class: "form-control",  } %>
    </div>

    <div class="col-md-2 form-group">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
