<h1>Check in/out</h1>

<%= form_with(url: bookings_check_in_out_path, local: true, method: :get) do |f| %>
  <div class="form-row">
    <div class="col-lg-2 form-group">
      <%= date_field_tag :from, {}, value: params[:from], class: "form-control" %>
    </div>
    <div class="col-lg-2 form-group">
      <%= date_field_tag :to, {}, value: params[:to], class: "form-control" %>
    </div>
    <div class="col-lg-3 form-group">
      <%= f.submit 'Show', class: 'btn btn-primary' %>
      <%= link_to 'Drop filter', bookings_check_in_out_path, class: 'btn btn-secondary'  %>
    </div>
  </div>
<% end %>


<div class="d-none d-lg-block mb-2 p-2 ">
  <div class="row font-weight-bold">
    <div class="col-lg-1">
      Date
    </div>
    <div class="col-lg-1">
      Type
    </div>
    <div class="col-lg-1">
      House
    </div>
    <div class="col-lg-4">
      Client
    </div>
    <div class="col-lg-2">
      Our transfer
    </div>
    <div class="col-lg-3">
      Comment
    </div>
  </div>
</div>
<% date = '' %>
<% @result.each do |r| %>
  <%#= "#{date} != #{r[:date]}"  %>
  <% if date != r[:date] %>
    <% gutter = 'mt-3' %>
    <% date = r[:date] %>
  <% end %>

  <div class="row shadow-sm mb-2 p-1 bg-light rounded <%= gutter %>">
    <div class="col">
      <div class="row">
        <div class="col-lg-1">
          <span class="d-lg-none">Date: </span>
          <%=  r[:date] %>
        </div>
        <div class="col-lg-1">
          <span class="d-lg-none">Type: </span>
          <%=  r[:type] %>
        </div>
        <div class="col-lg-1">
          <span class="d-lg-none">House: </span>
          <%=  r[:house] %>
        </div>
        <div class="col-lg-4">
          <span class="d-lg-none">Client: </span>
          <%=  r[:client] %>
        </div>
        <div class="col-lg-2">
          <span class="d-lg-none">Our transfer: </span>
          <% r[:transfers].each do |t| %>
            <%= t %><br />
          <% end %>
        </div>
        <div class="col-lg-3">
          <span class="d-lg-none">Comment: </span>
          <%=  r[:comment] %>
        </div>
      </div>
      <div class="row">
        <div class="col">

        </div>
      </div>
    </div>
  </div>
<% end %>
