<h1>Bookings <%= @house.code if @house %></h1>
<% if @house %>
  <%= link_to 'Sync', house_sync_path(number: @house.number,  params: { a: 'update'}) %> |
  <%= link_to 'Clear synced', house_sync_path(@house.number,params: { a: 'clear'}) %>

<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Start</th>
      <th>Finish</th>
      <th>House</th>
      <th>Tenant</th>
      <th>Source</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.number %></td>
        <td><%= booking.start.strftime('%d.%m.%Y') %></td>
        <td><%= booking.finish.strftime('%d.%m.%Y') %></td>
        <td><%= booking.house.code %></td>
        <td><%= "#{booking.tenant.name} #{booking.tenant.surname}" if booking.tenant %></td>
        <td><%= Source.find(booking.source_id).name if booking.source_id %></td>
        <td>
          <%= link_to 'Show', booking %> |
          <%= link_to 'Edit', edit_booking_path(booking) %> |
          <% if @house %>
            <%= link_to 'Destroy', booking_path(booking, hid: @house.number), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
            <%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @house %>
  <%= link_to 'New Booking', new_house_booking_path(@house.number) %>
  | <%= link_to 'All Bookings', bookings_path %>
<% else %>
  <%= link_to 'New Booking', new_booking_path %>
<% end %>

