<h1>Bookings <%= @house.code if @house %> (<%= @bookings.count %>)</h1>
<%= render 'tabs' %>
<div class="bg-white p-2 border-top-0">
  <%= render 'controls', path: bookings_path, houses: @houses %>
  <% if @view_as_owner %>
    <%= render 'table_front', bookings: @bookings %>
  <% else %>
    <%= render 'table', bookings: @bookings %>
  <% end %>
</div>
