<h1>Bookings <%= @house.code if @house %> (<%= @bookings.count %>)</h1>

<%= form_with(url: bookings_path, method: :get, local: true, class: 'form-inline') do |form| %>
      <%= date_field_tag :from, {}, value: @from, class: "form-control mb-2 mr-sm-2" %>
      <%= date_field_tag :to, {}, value: @to, class: "form-control mb-2 mr-sm-2" %>
      <%= select_tag :hid,
            options_for_select(House.where(unavailable: false).order(:code).map                   {|h| [h.code, h.number]}, @hid),
              { include_blank: 'All houses', class: "form-control mb-2 mr-sm-2" } %>

      <%= submit_tag 'Show', class: "btn btn-primary mb-2 mr-2" %>
      <% if current_user.role?('Admin') %>
        <% !@hid.present? ? disabled_class = "disabled" : disabled_class = "" %>
        <%= link_to 'Owner view', bookings_front_path(hid: @hid), class: "btn btn-primary mb-2 mr-2 #{disabled_class}", target: "_blank" %>
      <% end %>
      <%= link_to 'Drop filter', bookings_path, class: 'btn btn-secondary mb-2 mr-2'  %>
      <%= link_to 'Timeline', bookings_timeline_path(period: 45), class: 'btn btn-info mb-2 mr-2'  %>
      <% if @hid %>
        <%= link_to 'New Booking', new_house_booking_path(@hid), class: 'btn btn-info mb-2 mr-2' %>
      <% else %>
        <%= link_to 'New Booking', new_booking_path, class: 'btn btn-info mb-2 mr-sm-2' %>
      <% end %>
<% end %>

<% if @error %>
  <div class="alert alert-warning" role="alert">
    <%= @error %>
  </div>
<% elsif @bookings.empty? %>
  <div class="alert alert-warning" role="alert">
    No bookings
  </div>
<% else %>
  <table class='table bg-white table-bordered table-sm table-responsive-lg'>
    <thead>
      <tr>
        <th width="70px">House</th>
        <th width="170px">Period</th>
        <th width="100px">Source</th>
        <th width="100px">Status</th>
        <th width="95px">Sale</th>
        <th width="95px">Agent</th>
        <th width="95px">Net IN</th>
        <th width="110px">Comm</th>
        <th width="95px">Net OUT</th>
        <th width="95px">To owner</th>
      </tr>
    </thead>

    <tbody>
      <% @bookings.each do |booking| %>
        <% income = booking.transactions.joins(:balance_outs).sum(:debit) %>
        <% comm = booking.transactions.joins(:balance_outs).sum(:credit) %>
        <% to_owner = income - comm %>

        <% if booking.start < Time.zone.now.in_time_zone('Bangkok').to_date && to_owner < booking.nett && booking.status != 'canceled' && !booking.paid %>
          <tr class="bg-light table-danger" id="<%= booking.number %>" data-toggle="tooltip" data-placement="right" title="Problem with payment to owner">
        <% elsif to_owner > booking.nett %>
          <tr class="bg-light table-danger" id="<%= booking.number %>" data-toggle="tooltip" data-placement="right" title="Overpayment to owner">=
        <% else %>
          <tr class="bg-light" id="<%= booking.number %>">
        <% end %>
          <td><%= !@house ? link_to(booking.house.code, house_bookings_path(booking.house.number)) : booking.house.code %></td>
          <td>
            <nobr>
              <%= booking.start.strftime('%d.%m.%Y') %> -
              <%= booking.finish.strftime('%d.%m.%Y') %>
            </nobr>
          </td>
          <td>
            <small>
              <%= booking.source.name if booking.source %>
            <small>
          </td>
          <td><%= booking.status %></td>
          <td><%= number_to_currency(booking.sale, precision: 0, unit: '') %></td>
          <td><%= number_to_currency(booking.agent, precision: 0, unit: '') %></td>
          <td>
            <% if booking.agent > 0 %>
              <%= number_to_currency(booking.sale - booking.agent, precision: 0, unit: '') %><br />
              <small>
                (50% <%= number_to_currency((booking.sale - booking.agent)/2, precision: 0, unit: '') %>)
              </small>
            <% end %>
          </td>
          <td class="comm">
            <nobr>
              <%= number_to_currency(booking.comm, precision: 0, unit: '') %> (<%= "#{((booking.agent + booking.comm).to_f/booking.sale*100).round(2)}%" if booking.sale > 0 %>)
            </nobr>
          </td>
          <td><%= number_to_currency(booking.nett, precision: 0, unit: '') %></td>
          <td><%= number_to_currency(to_owner, precision: 0, unit: '') %></td>
        </tr>
        <tr>
          <td colspan="10">
            <%= booking.client_details %>
            <% if booking.comment || booking.comment_owner || booking.comment_gr %>
              <div><%= "Comment inner: #{booking.comment}" if booking.comment.present? %></div>
              <div><%= "Comment owner: #{booking.comment_owner}" if booking.comment_owner.present? %></div>
              <div><%= "Comment gr: #{booking.comment_gr}" if booking.comment_gr.present? %></div>
            <% end %>
            <% if booking.transactions.any? %>
              Payment history:
              <div>

                <% booking.transactions.each do |b| %>
                  <% recieved = BalanceOut.where(transaction_id: b.id).first.debit %>
                  <% comm = BalanceOut.where(transaction_id: b.id).first.credit %>
                  <%= b.date.strftime('%d.%m.%Y') %> -
                  Received <%= number_to_currency(recieved, precision: 0, unit: '') %>,
                  To owner <%= number_to_currency(recieved - comm, precision: 0, unit: '') %><br />
                <% end %>
            <% end %>
            <%= "Booking number: #{booking.number}" %>
            <% if booking.allotment? %>
              <span class="badge badge-info">Allotment</span>
            <% end %>
            <div>
              <% if !booking.number.nil? %>
                <%= link_to 'Edit', edit_booking_path(booking) %>
              <% else %>
                <%= link_to 'View', booking_path(booking) %>
              <% end %>
              <% if current_user.role?('Admin') %>
                | <%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
