<h1><%= 'Old ' if params[:past].present? %>Bookings <%= @house.code if @house %> (<%= @bookings.count %>)</h1>

<% if @house %>
  <%= link_to 'Sync', booking_sync_path(hid: @house.number) %>
  | <%= link_to 'New Booking', new_house_booking_path(@house.number) %>
  <% if !params[:past].present? %>
    | <%= link_to "Old bookings for #{@house.code}", house_bookings_path(@house.number, past: true) %>
  <% else %>
    | <%= link_to "Current bookings for #{@house.code}", house_bookings_path(@house.number) %>
  <% end %>
  | <%= link_to 'Bookings for all houses', bookings_path %>
<% else %>
  <%= link_to 'Sync', booking_sync_path %>
  | <%= link_to 'New Booking', new_booking_path %>
  <% if !params[:past].present? %>
    | <%= link_to 'Old bookings', bookings_path(past: true) %>
  <% else %>
    | <%= link_to 'Current bookings', bookings_path %>
  <% end %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Start</th>
      <th>Finish</th>
      <th>House</th>
      <th>Tenant</th>
      <th>Source</th>
      <th>Sale</th>
      <th>Agent</th>
      <th>Comm</th>
      <th>Comm %</th>
      <th>Nett</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.number %></td>
        <td><%= booking.start.strftime('%d.%m.%Y') %></td>
        <td><%= booking.finish.strftime('%d.%m.%Y') %></td>
        <td><%= !@house ? link_to(booking.house.code, house_bookings_path(booking.house.number)) : booking.house.code %></td>
        <td><%= "#{booking.tenant.name} #{booking.tenant.surname}" if booking.tenant %></td>
        <td><%= Source.find(booking.source_id).name if booking.source_id %></td>
        <td><%= booking.sale %></td>
        <td><%= booking.agent %></td>
        <td><%= booking.comm %></td>
        <td>
          <%= "#{((booking.agent + booking.comm).to_f/booking.sale*100).round(2)}%" if booking.sale > 0 %>
        </td>
        <td><%= booking.nett %></td>
        <td>
          <% if !booking.number.nil? %>
            <%= link_to 'Edit', edit_booking_path(booking) %> |
          <% else %>
            <%= link_to 'View', booking_path(booking) %> |
          <% end %>
          <% if @house %>
            <%= link_to 'Destroy', booking_path(booking, hid: @house.number), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
            <%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

