<%= link_to 'New Booking', new_booking_path %> |
<%= link_to 'Bookings (table view)', bookings_path %> |
<% if params[:period].present? %>
  <%= link_to 'Bookings (timeline full view)', bookings_timeline_path %>
<% else %>
  <%= link_to 'Bookings (timeline short view)', bookings_timeline_path(period: 45) %>
<% end %>

<%= form_with do |f| %>
  <div style='display: inline-block;'>
    <div class="form-check mb-1">
      <%= f.check_box :compact_view, { class: 'form-check-input',
                              id: 'compact_check_box' } %>
      <%= f.label 'Compact view', {     class: 'form-check-label',
                              for: 'compact_check_box' } %>
    </div>
  </div>
  <div style='display: inline-block;'>
    | Hide jobs for our:
    <% EmplType.all.each do |et| %>
      <div class="form-check form-check-inline">
        <%= f.check_box et.name,  class: 'form-check-input hide_empl_type_jobs',
                                  id: "hide_empl_type_#{et.id}",
                                  data: { empl_type_id: et.id } %>
        <%= f.label et.name,  class: 'form-check-label',
                              for: "hide_empl_type_#{et.id}" %>
      </div>
    <% end %>
  </div>
  <div style='display: inline-block;'>
    | Show only job of type:
    <% JobType.all.each do |jt| %>
      <div class="form-check form-check-inline">
        <%= f.check_box jt.name,
              class: 'form-check-input show_job_types',
              id: "show_job_type_#{jt.id}",
              data: { job_type_id: jt.id } %>
        <%= f.label jt.name,  class: 'form-check-label',
                              for: "show_job_type_#{jt.id}" %>
      </div>
    <% end %>
  </div>
  <%= hidden_field_tag 'period', params[:period], id: 'period' if params[:period].present? %>
<% end %>

<div class="timeline">
  <div class="timeline_top_container">
    <% @days.times do |i| %>
      <% date = @today+i.days %>
      <% day = date.day %>
      <% month_end = date.end_of_month.day %>
      <% if (i == 0 && day > 1) || day == 1 %>
        <div class='month_date'> <!-- Open month -->
          <div class='month'><%= date.strftime('%B') %></div>
      <% end %>
      <div class="date<%= ' sunday' if date.sunday? %>">
        <%= day %>
      </div>
      <% if day == month_end || i+1 == @days %>
        </div> <!-- Close month -->
      <% end %>
    <% end %>
  </div>
  <div class="timeline_left_container">
    <% @houses.each do |h| %>
      <div class="house_code <%= 'text-muted' if h.unavailable? %>">
        <%= h.code %>
      </div>
    <% end %>
  </div>
  <div class="timeline_container">
    <% @houses.each_with_index do |h, y| %>
      <div class="house_line">
        <% @days.times do |x| %>
          <% date = @today+x.days %>
          <div  class="cell<%= ' sunday' if date.sunday? %>"
                id=<%= "x#{x+1}y#{y+1}" %>
                data-house-id=<%= h.id %>
                data-date=<%= date %>>
                </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class='mt-2'>
  Agenda:
  <% JobType.order(:name).each do |jt| %>
    <div style="background-color:<%= jt.color %>;display:inline-block;" class='rounded text-white p-1'><%= jt.name %></div>
  <% end %>
</div>

<div class="dropdown new_job">
  <div class="dropdown-menu new_job">
    <div class="dropdown_menu_for_booking">
      <h6 class="dropdown-header">New job for Booking</h6>
      <% @job_types_for_bookings.each do |jt| %>
        <%= link_to "#{jt.name}", "#", class: "dropdown-item for_booking",
          data: {
            job_type_id: jt.id,
            # user_id: User.with_role('Maid').first.id,
            toggle: "modal",
            target: "#new_job_modal"} %>
      <% end %>
      <div class="dropdown-divider"></div>
    </div>
    <h6 class="dropdown-header">New job for House</h6>
    <% @job_types_for_houses.each do |jt| %>
      <%= link_to "#{jt.name}", "#", class: "dropdown-item for_house",
        data: {
          job_type_id: jt.id,
          # user_id: User.with_role('Maid').first.id,
          toggle: "modal",
          target: "#new_job_modal"} %>
    <% end %>
  </div>
</div>

<div class="dropdown destroy_job">
  <div class="dropdown-menu destroy_job">
    <%= link_to 'Cancel job', '#', id: 'cancel_job', class: "dropdown-item for_job" %>
  </div>
</div>

<%= render 'jobs/form_modal', job: @job %>


