<h1>Timeline</h1>

<%= link_to 'Bookings (table view)', bookings_path %> |
<% if params[:period].present? %>
  <%= link_to 'Bookings (timeline full view)', bookings_timeline_path %>
<% else %>
  <%= link_to 'Bookings (timeline short view)', bookings_timeline_path(period: 45) %>
<% end %>

<div class="timeline">
  <div class="timeline_top_container">
    <% @timeline[:days].times do |i| %>
      <% date = @timeline[:start]+i.days %>
      <% day = date.day %>
      <% month_end = date.end_of_month.day %>
      <% if (i == 0 && day > 1) || day == 1 %>
        <div class='month_date'> <!-- Open month -->
        <% month_days = month_end - day + 1 %>
        <% over_days = (date + month_days.days - @timeline[:start]+@timeline[:days].days).to_i %>
        <% if over_days > 0  %>
          <% month_days -= over_days %>
        <% end %>
        <% width = 30*month_days %>
        <div class='month' style="width: <%= width %>px;"><%= date.strftime('%B') %></div>
      <% end %>
      <div class="date">
        <%= day %>
      </div>
      <% if day == month_end || i+1 == @timeline[:days] %>
        </div> <!-- Close month -->
      <% end %>
    <% end %>
  </div>

  <div class="timeline_left_container">
    <% @timeline[:data].each do |h| %>
      <div class="house_code <%= 'text-muted' if House.find_by(number: h[:hid]).unavailable? %>">
        <%= House.find_by(number: h[:hid]).code %>
      </div>
    <% end %>
  </div>

  <div class="timeline_container">
    <% @timeline[:data].each do |h| %>
      <div>
        <% last_position = 0 %>
        <% i = 1 %>
        <% h[:bookings].each do |b| %>

          <% if b[:position] - 1 > last_position %>
            <% (b[:position] - 1 - last_position).times do %>
              <div class="cell free">
              &nbsp;
              </div>
            <% end %>
          <% end %>
          <% width = 30*b[:length] %>
          <div class="cell booked" style="width: <%= width %>px;">
            <%= link_to b[:number], edit_booking_path(Booking.find_by(number: b[:number])) %>
            <% Booking.find_by(number: b[:number]).jobs.each do %>
              <div>job.job_types.name</div>
            <% end %>
          </div>
          <% last_position = b[:position] + b[:length] - 1 %>
          <!-- Empty cells after last booking -->
          <% if i == h[:bookings].size && last_position < @timeline[:days] %>
            <%= h[:bookings].size %>
            <% (@timeline[:days]-last_position).times do %>
              <div class="cell free">
                &nbsp;
              </div>
            <% end %>
          <% end %>
          <% i += 1 %>
        <% end %>
        <!-- Emtry cells if no bookings -->
        <% if h[:bookings].empty? %>
          <% @timeline[:days].times do %>
            <div class="cell free">
              &nbsp;
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
