<%= form_with(model: house_type, local: true) do |form| %>
  <% if house_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house_type.errors.count, "error") %> prohibited this house_type from being saved:</h2>

      <ul>
        <% house_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_en %>
    <%= form.text_field :name_en %>
  </div>

  <div class="field">
    <%= form.label :name_ru %>
    <%= form.text_field :name_ru %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
