<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    Role:
    <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |c| %>
        <div class="form-check form-check-inline">
          <%= c.check_box(class: "form-check-input") %>
          <%= c.label(class: "form-check-label" ) %>
        </div>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
