<% if params['role'].kind_of?(Array) %>
  <% title = 'Management' %>
<% else %>
  <% title = params['role'] ? params['role'].pluralize : 'Users' %>
<% end %>

<%= provide(:title,  title) %>
<h1><%= title %></h1>
<%= link_to 'Create new user', new_user_path, class: "btn btn-info mb-2" %>
<% if current_user.role?("Admin") %>
  <%= link_to 'Inactive users', users_inactive_path, class: "btn btn-primary mb-2" %>
<% end %>
<%= render 'table' %>
<%#= link_to 'Invite new user', new_user_invitation_path, { class: "nav-link" } %>
