<h1>House options</h1>

<%= link_to 'New Option', new_option_path, class: 'btn btn-primary mb-2' %>

<table class='table bg-white table-bordered table-sm table-responsive-lg'>
  <thead>
    <tr>
      <th>Zindex</th>
      <th>Title en</th>
      <th>Title ru</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr>
        <td><%= option.zindex %></td>
        <td><%= option.title_en %></td>
        <td><%= option.title_ru %></td>
        <td>
          <%= link_to 'Edit', edit_option_path(option) %>
          <%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

