<% path = [house, duration] if action_name == 'new' %>
<% path = duration if action_name == 'edit' %>
<%= form_with(model: path, local: true) do |form| %>
  <% if duration.errors.any? %>
    <%= render 'shared/error_messages', object: form.object %>
  <% end %>

  <div class="field">
    <%= form.label :start %>
    <%= form.number_field :start %>
  </div>

  <div class="field">
    <%= form.label :finish %>
    <%= form.number_field :finish %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
