<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @duration.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @duration.finish %>
</p>

<p>
  <strong>House:</strong>
  <%= @duration.house_id %>
</p>

<%= link_to 'Edit', edit_duration_path(@duration) %> |
<%= link_to 'Back', durations_path %>
