<div id="<%= dom_id uploads_test %>">
  <h3>Entry <%= uploads_test.created_at %></h3>
  <p>
    <ul>
      <% uploads_test.images.each do |file| %>
        <li>
          <% if file.representable? %>
            <%= image_tag file.representation(resize_to_limit: [200, 200]) %>
            <%= link_to 'Download', rails_blob_path(file, disposition: "attachment") %>
          <% else %>
            <%= image_tag "placeholder.png", alt: "Download file" %>
            <%= link_to 'Download', rails_blob_path(file, disposition: "attachment") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </p>
</div>
