<h1>Jobs</h1>
<%= render 'menu' %>
<div id='jobs'>
  <% if @status == 'active' || !@status.present? %>
    INBOX
    <% if @jobs.inbox.any? %>
      <% @jobs.inbox.each do |job| %>
        <%= render 'job_managers', job: job %>
      <% end %>
    <% else %>
      <p class='text-muted'>No Jobs</p>
    <% end %>
    IN PROGRESS
    <% if @jobs.in_progress.any? %>
      <% @jobs.in_progress.each do |job| %>
        <%= render 'job_managers', job: job %>
      <% end %>
    <% else %>
      <p class='text-muted'>No Jobs</p>
    <% end %>
  <% elsif @status == 'postponed' %>
    PAUSED
    <% if @jobs.paused.any? %>
      <% @jobs.paused.each do |job| %>
        <%= render 'job_managers', job: job %>
      <% end %>
    <% else %>
      <p class='text-muted'>No Jobs</p>
    <% end %>
    ARCHIVED
    <% if @jobs.archived.any? %>
      <% @jobs.archived.each do |job| %>
        <%= render 'job_managers', job: job %>
      <% end %>
    <% else %>
      <p class='text-muted'>No Jobs</p>
    <% end %>
  <% elsif @status == 'done' %>
    DONE
    <% if @jobs.done.any? %>
      <% @jobs.done.each do |job| %>
        <%= render 'job_managers', job: job %>
      <% end %>
    <% else %>
      <p class='text-muted'>No Jobs</p>
    <% end %>
  <% elsif @status == 'cancelled' %>
    CANCELLED
    <% if @jobs.cancelled.any? %>
      <% @jobs.cancelled.each do |job| %>
        <%= render 'job_managers', job: job %>
      <% end %>
    <% else %>
      <p class='text-muted'>No Jobs</p>
    <% end %>
  <% end %>
</div>
