<%= form_with(model: house_type, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :name_en %>
    <%= form.text_field :name_en %>
  </div>

  <div class="field">
    <%= form.label :name_ru %>
    <%= form.text_field :name_ru %>
  </div>

  <div class="field">
    <%= form.label :comm %>
    <%= form.number_field :comm %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
