<%= form_with(model: job_type, local: true) do |form| %>
  <% if job_type.errors.any? %>
    <%= render 'shared/error_messages', object: form.object %>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>
  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>
  <div class="form-check mb-2">
    <%= form.check_box :for_house_only, { class: 'form-check-input',
                            id: 'for_house_only_check_box' } %>
    <%= form.label :for_house_only, {     class: 'form-check-label',
                            for: 'for_house_only_check_box' } %>
  </div>

  <div class="field">
    Employee types:
    <%= form.collection_check_boxes :empl_type_ids, EmplType.all, :id, :name do |et| %>
        <div class="form-check form-check-inline">
          <%= et.check_box(class: "form-check-input") %>
          <%= et.label(class: "form-check-label" ) %>
        </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
