<div class="d-print-none" id='reimbersment_form'>
  <%= form_with do |form| %>
    <%= form.hidden_field :code, value: code(@t.user), id: 'document_code' %>
    <%= form.hidden_field :code, value: @usd, id: 'document_usd' %>
    <div class="field">
      <%= form.label :date %>
      <%= form.date_field :date, max: Time.zone.now.in_time_zone('Bangkok').to_date, id: 'document_date' %>
    </div>
    <div class="field">
      <%= form.label :run_number %>
      <%= form.number_field :run_number, id: 'run_number', value: 1 %>
    </div>
    <div class="field">
      <%= form.label :run_number_add %>
      <%= form.text_field :run_number_add, id: 'run_number_add' %>
    </div>
    <div class="field">
      <%= form.label :amount %>
      <%= form.text_field :amount, id: 'document_amount' %>
    </div>
    <div class="field">
      <%= form.label :customer %>
      <%= form.text_field :customer, id: 'document_customer' %>
    </div>
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, id: 'document_address' %>
    </div>
    <div class="field">
      <%= form.label :add_text %>
      <%= form.text_field :add_text, id: 'document_add_text' %>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name='paid_by' id="inlineCheckbox1" value="by_bank" checked="checked">
      <label class="form-check-label" for="inlineCheckbox1">By bank</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name='paid_by' id="inlineCheckbox2" value="by_cash">
      <label class="form-check-label" for="inlineCheckbox2">By cash</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name='paid_by' id="inlineCheckbox3" value="by_credit_card">
      <label class="form-check-label" for="inlineCheckbox3">By credit card</label>
    </div>
  <% end %>
</div>

<div class="p-2 bg-white">
  <div class="text-right d-print-none">
    <button type="button" class="btn btn-outline-primary" onclick="window.print();" id='rb_print'>Print</button>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2 mr-auto"><img src="https://phuketmanage.s3-ap-southeast-1.amazonaws.com/images/Logo-512x512.png" alt="Company logo" width='100px'></div>
    <div class="p-2 text-right">
      <h3>
        REIMBURSEMENT<br />
        เงินทดรองรับ
      </h3>
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2 mr-auto">
      <strong>Phaethon Co., Ltd (Head Office)</strong><br />
      30/257 Moo.1, T. Kathu, A. Kathu, Phuket, 83120 Thailand<br />
      Tel/Fax: 076 20 20 22<br />
      +66 87 555 81 55<br />
      Tax ID: 0835550008605
    </div>
    <div class="p-2">
      <% date = Time.zone.now.in_time_zone('Bangkok') %>
      <strong>Number:</strong> RB-<span id='number'><%= "#{code(@t.user)}-#{date.year}#{date.strftime('%m')}001" %></span><span id='number_add'></span><br />
      <strong>Date:</strong> <span id='doc_date'><%= date.strftime('%d.%m.%Y') %></span>
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2 w-50">
      <strong>Customer</strong><br/>
      <span id='doc_customer'><%= @to[:name] %></span><br />
      <span id='doc_address'><%= @to[:address] %></span><br />
      Tax ID Card No.: <span id='doc_tax_id'>0000000000000</span>
    </div>
    <div class="p-2 w-50">
      <strong>Balance of</strong><br/>
      <%= "#{@t.user.name} #{@t.user.surname}" %><br/>
      <% @t.user.houses.each do |h| %>
        <%= h.address %><br />
      <% end %>
      Tax ID Card No.: 0000000000000
    </div>
  </div>
  <div class="p-2">
  <table class='table table-bordered table-sm'>
    <tbody>
      <tr>
        <th width='100%'>Description</th>
        <th class="text-right" width='100px'>Amount</th>
      </tr>
      <tr>
        <td>
          <span id="doc_add_text"></span>
        </td>
        <td class="text-right" id='doc_amount'>
        </td>
      </tr>
      <% 9.times do %>
      <tr>
        <td>&nbsp;</td>
        <td> </td>
      </tr>
      <% end %>
      <tfoot>
        <tr>
          <td class='text-right font-weight-bold text-right'>
            TOTAL THB:
          </td>
          <td class="font-weight-bold text-right">
            <span id='doc_total_thb'>
              <%= @t.balance_outs.sum(:debit) %>
            </span>
          </td>
        </tr>
      </tfoot>
    </tbody>
  </table>
  </div>
  <div class="d-flex flex-row align-items-end">
    <div class="p-2 mr-auto">
      <span id='by_bank' data-checkmark>&#10004;</span>Paid by bank transfer<br />
      <span id='by_cash' data-checkmark style='display: none;'>&#10004;</span>Paid by cash<br />
      <span id='by_credit_card' data-checkmark style='display: none;'>&#10004;</span>Paid by credit card<br />
    </div>
    <div class="p-2 text-center">
      _____________________________________<br />
      Assignment
    </div>
  </div>

</div>

