<div class="d-print-none" id='statement_form'>
  <%= form_with do |form| %>
    <%= form.hidden_field :code, value: code(@owner), id: 'document_code' %>
    <%= form.hidden_field :code, value: @usd, id: 'document_usd' %>
    <div class="field">
      <%= form.label :date %>
      <%= form.date_field :date, max: Time.zone.now.in_time_zone('Bangkok').to_date, id: 'document_date' %>
    </div>
    <div class="field">
      <%= form.label :run_number %>
      <%= form.number_field :run_number, id: 'run_number', value: 1 %>
    </div>
    <div class="field">
      <%= form.label :run_number_add %>
      <%= form.text_field :run_number_add, id: 'run_number_add' %>
    </div>
    <div class="field">
      <%= form.label :amount %>
      <%= form.text_field :amount, id: 'document_amount' %>
    </div>
    <div class="field">
      <%= form.label :customer %>
      <%= form.text_field :customer, id: 'document_customer' %>
    </div>
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, id: 'document_address' %>
    </div>
    <div class="field">
      <%= form.label :add_text %>
      <%= form.text_field :add_text, id: 'document_add_text' %>
    </div>
  <% end %>
</div>

<div class="p-2 bg-white">
  <div class="text-right d-print-none">
    <button type="button" class="btn btn-outline-primary" onclick="window.print();" id='st_print'>Print</button>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2 mr-auto"><img src="https://phuketmanage.s3-ap-southeast-1.amazonaws.com/images/Logo-512x512.png" alt="Company logo" width='100px'></div>
    <div class="p-2"><h3>STATEMENT</h3></div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2 mr-auto">
      <strong>Phaethon Co., Ltd (Head Office)</strong><br />
      30/257 Moo.1, T. Kathu, A. Kathu, Phuket, 83120 Thailand<br />
      Tel/Fax: 076 20 20 22<br />
      +66 87 555 81 55<br />
      Tax ID: 0835550008605
    </div>
    <div class="p-2">
      <% date = Time.zone.now.in_time_zone('Bangkok') %>
      <strong>Number:</strong> SO-<span id='number'><%= "#{code(@owner)}-#{@date.year}#{@date.strftime('%m')}001" %></span><span id='number_add'></span> <br />
      <strong>Date:</strong>  <span id='doc_date'><%= @date.strftime('%d.%m.%Y') %></span>
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2 w-50">
      <strong>To</strong><br/>
      <span id='doc_customer'><%= @to[:name] %></span><br />
      <span id='doc_address'><%= @to[:address] %></span><br />
      Tax ID Card No.: <span id='doc_tax_id'>0000000000000</span>
    </div>
    <div class="p-2 w-50">
      <strong>Balance of</strong><br/>
      <%= "#{@owner.name} #{@owner.surname}" %><br/>
      <% @owner.houses.each do |h| %>
        <%= h.address %><br />
      <% end %>
      Tax ID Card No.: 0000000000000
    </div>
  </div>
  <div class="p-2">
  <table class='table table-bordered table-sm'>
    <tbody>
      <tr>
        <th width='100%'>Description</th>
        <th class="text-right" width='100px'>Amount</th>
      </tr>
      <tr>
        <td>
          <%= @t.comment_en if @t %>
          <span id='doc_add_text'></span>
        </td>
        <td class="text-right" id='doc_amount'>
          <%= number_to_currency(@t.balance_outs.sum(:debit).round(2), precision: 2, unit: '') if @t %>
        </td>
      </tr>
      <% 9.times do %>
      <tr>
        <td>&nbsp;</td>
        <td> </td>
      </tr>
      <% end %>
      <tfoot>
        <tr>
          <td class='text-right font-weight-bold text-right'>
            TOTAL THB:<br />
            TOTAL EQUIVALENT IN USD:
          </td>
          <td class="font-weight-bold text-right">
            <span id='doc_total_thb'>
              <%= number_to_currency(@t.balance_outs.sum(:debit).round(2), precision: 2, unit: '') if @t %>
            </span>
            <br />
            <span id='doc_total_usd'>
              <%= number_to_currency((@t.balance_outs.sum(:debit)/@usd).round(2), precision: 2, unit: '') if @t %>
            </span>
          </td>
        </tr>
      </tfoot>
    </tbody>
  </table>
  </div>
  <div class="d-flex flex-row align-items-end">
    <div class="p-2 mr-auto">
      <strong>Bank details:</strong><br />
      A/C Name: PHAETHON CO., LTD<br />
      Bank: Kasikorn Bank Pcl<br />
      Branch: Central Festival Phuket<br />
      Address: 74-75 Moo5 T.Vichit Muang Phuket 83000<br />
      Account: 482-2-31032-5<br />
      Swift: KASITHBK
    </div>
    <div class="p-2 text-center">
      _____________________________________<br />
      Assignment
    </div>
  </div>

</div>

