<%= form_with(model: water_usage, local: true) do |form| %>
  <% if water_usage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(water_usage.errors.count, "error") %> prohibited this water_usage from being saved:</h2>

      <ul>
        <% water_usage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :house_id %>
    <%= @water_usage.house.code %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :amount_2 %>
    <%= form.number_field :amount_2 %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
