<div class="vh-75 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1 class="display-1 fw-bold">404</h1>
    <p class="fs-3"> <span class="text-danger"><%= t('errors.oops') %>!</span> <%= t('errors.404.short') %></p>
    <p class="lead">
      <%= t('errors.404.description') %>
    </p>
    <a href="<%= root_url %>" class="btn btn-primary"><%= t('errors.back_to_home') %></a>
  </div>
</div>
