<% if message.sender_id == current_user.id %>
  <% is_own_message = true %>
  <% align = 'justify-content-end' %>
  <% color = 'bg-info text-light' %>
  <% time_color = 'text-white-50' %>
<% else %>
  <% is_own_message = false %>
  <% text_align = 'justify-content-start' %>
  <% color = 'bg-light text-dark' %>
  <% time_color = 'text-black-50' %>
<% end %>
<% if message.is_system %>
  <% align = 'justify-content-center' %>
  <% color = 'bg-transparent text-black-50' %>
  <% time_color = 'text-black-50' %>
<% end %>
<div class="d-flex <%= align %>" data-message-id="<%= message.id %>" >
  <div class="shadow-sm mb-2 p-2 border rounded <%= color %>" style="width: 70%">
    <% if message.sender != current_user %>
      <strong><%= message.sender.name %></strong><br />
    <% end %>
    <% if message.file %>
      <% if File.extname(message.url) == ".pdf" %>
        <iframe src="https://docs.google.com/viewer?url=http:<%= message.url %>&embedded=true" frameborder="0" height="400px" width="100%"></iframe>
      <% else %>
        <a href="http:<%= message.url %>" data-link-to-image><img src="<%= message.url %>" width="100%"></a>
      <% end %>
    <% else %>
      <%= message.message %>
    <% end %>
    <br />
    <span class="<%= time_color %> d-flex justify-content-end">
      <%= message.created_at.to_fs(:date_with_time) %>
    </span>
    <% if is_own_message && Time.current - message.created_at <= 10.minutes && !message.is_system %>
      <%= link_to 'Delete', job_message_path(id: message.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "d-flex justify-content-end text-warning" %>
    <% end %>
  </div>
</div>
