<p id="notice"><%= notice %></p>

<p>
  <strong>Name en:</strong>
  <%= @transaction_type.name_en %>
</p>

<p>
  <strong>Name ru:</strong>
  <%= @transaction_type.name_ru %>
</p>

<p>
  <strong>Debit company:</strong>
  <%= @transaction_type.debit_company %>
</p>

<p>
  <strong>Credit company:</strong>
  <%= @transaction_type.credit_company %>
</p>

<p>
  <strong>Debit owner:</strong>
  <%= @transaction_type.debit_owner %>
</p>

<p>
  <strong>Credit owner:</strong>
  <%= @transaction_type.credit_owner %>
</p>

<%= link_to 'Edit', edit_transaction_type_path(@transaction_type) %> |
<%= link_to 'Back', transaction_types_path %>
