<%= form_with(model: source, local: true) do |form| %>
  <% if source.errors.any? %>
    <%= render 'shared/error_messages', object: form.object %>
  <% end %>

  <div class="row">
    <div class="col-md-2 form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-check mb-2">
    <%= form.check_box :syncable, { class: 'form-check-input',
                            id: 'syncable_check_box' } %>
    <%= form.label :syncable, {     class: 'form-check-label',
                            for: 'syncable_check_box' } %>
  </div>


  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', sources_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
