<h1>Prices</h1>

<% r = 1 %>
<div class="row">
  <div class="col-1">
  </div>
  <% @seasons.each do |s| %>
    <div class="col-1 price_col">
      <strong><%= "#{s.ssd}.#{s.ssm} - #{s.sfd}.#{s.sfm}" %></strong>
      <%= link_to 'Destroy', delete_season_path(@house, season_id: s.id), method: :delete, data: { confirm: 'Are you sure?' } %>

    </div>
  <% end %>
</div>

<% @durations.each do |d| %>
  <% r +=1 %>
    <div class="row">
      <% c = 1 %>
      <% if c == 1 %>
        <div class="col-1 price_col">
          <strong><%= "#{d.start} - #{d.finish}" %></strong>
          <%= link_to 'Destroy', delete_duration_path(@house, duration_id: d.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% c += 1 %>
      <% end %>
      <% @seasons.each do |s| %>
        <div class="col-1 price_col">
          <% price = @prices.where(duration_id: d.id, season_id: s.id).first %>
          <%= form_with(model: price, method: 'put') do |f| %>
          <%= f.number_field :amount, class: "form-control price_amount price_#{price.id}", data: {id: price.id} %>
          <% end %>
        </div>
      <% c += 1 %>
      <% end %>
    </div>
<% end %>

Add duration
<%= form_with(model: @duration, url: add_duration_path(@house), local: true) do |f| %>
  <% if @duration.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>

  <div class="row">
    <div class="col-2">
      <%= f.number_field :start,  class: "form-control",
                                  placeholder: "Start" %>
    </div>
    <div class="col-2">
      <%= f.number_field :finish, class: "form-control",
                                  placeholder: "Finish" %>
    </div>
    <div class="col-2">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
Add season
<%= form_with(model: @season, url: add_season_path(@house), local: true) do |f| %>
  <% if @season.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>

  <div class="row">
    <div class="col-2">
      <%= f.number_field :ssd,  class: "form-control",
                                  placeholder: "Start day" %>
    </div>
    <div class="col-2">
      <%= f.number_field :ssm, class: "form-control",
                                  placeholder: "Start month" %>
    </div>
    <div class="col-2">
      <%= f.number_field :sfd,  class: "form-control",
                                  placeholder: "Finish day" %>
    </div>
    <div class="col-2">
      <%= f.number_field :sfm, class: "form-control",
                                  placeholder: "Finish month" %>
    </div>

    <div class="col-2">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
Copy durations and seasons from othe house
<%= form_with(url: copy_table_path(@house), local: true) do |f| %>
  <div class="row form-group">
    <%#= form.label :owner_id, class: 'col-md-1 col-form-label' %>
    <div class="col-md-2 ">
      <%= f.select :copy_from_id,
            @houses.all.map {|h| [h.code, h.id]},
                      { prompt: 'Select house' }, { class: "form-control",  } %>
    </div>
    <div class="col-2">
      <%= f.submit 'Copy', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
