<h1>Bookings</h1>
<%= form_with(url: report_bookings_path, method: :get, local: true) do |f| %>
  <div class="form-row">
    <div class="col-6 col-lg-2 mb-1 mb-lg-0">
      <%= date_field_tag :from, {}, value: @from, class: "form-control" %>
    </div>
    <div class="col-6 col-lg-2 mb-1 mb-lg-0">
      <%= date_field_tag :to, {}, value: @to, class: "form-control mb-2 mr-md-2" %>
    </div>
    <div class="col col-lg-2">
      <% options = options_for_select([['All', '']] + @houses.map{ |h| ["#{h.code}", h.id] }, @house_id) %>
      <%= f.select :house_id,
            options,
                      {}, { class: "form-control"} %>
    </div>

    <%= submit_tag t('show'), class: "btn btn-primary mb-2 mr-2" %>
  </div>
<% end %>

<div>
  <% if @details %>
    <div class="bg-white">
      <table class="table">
        <tr>
          <th>Source</th>
          <th>Bookings</th>
          <th>Canceled</th>
          <th>Block</th>
          <th>Real</th>
          <th>Sale, THB</th>
          <th>Agent, THB</th>
          <th>Comm, THB</th>
          <th>Owner, THB</th>
        </tr>
        <% sub_totals = {"qty_sum" =>0, "qty_cancel_sum" =>0, "qty_block_sum" =>0,"qty_real_sum" =>0, "sale_sum" => 0, "agent_sum" => 0, "comm_sum" => 0, "nett_sum" => 0} %>
        <% @details.each do |source| %>
          <tr>
            <td><%= @sources[source.source_id] %></td>
            <td><%= !source.qty.nil? ? source.qty : 0 %> (<%= !source.qty.nil? && @totals.qty > 0 ? (source.qty.to_d/@totals.qty*100).round : 0 %>%)</td>
            <td><%= !source.qty_cancel.nil? ? source.qty_cancel : 0 %> (<%= !source.qty.nil? && source.qty > 0 ? CGI.unescape_html("&#8592;#{source.qty_cancel/source.qty}") : 0 %>% <%= !source.qty_cancel.nil? && @totals.qty_cancel > 0 ? CGI.unescape_html("&#8595;#{(source.qty_cancel.to_d/@totals.qty_cancel*100).round}") : 0 %>%)</td>
            <td><%= !source.qty_block.nil? ? source.qty_block : 0 %></td>
            <td><nobr><%= source_real = source.qty-source.qty_cancel-source.qty_block %>
              (<%= CGI.unescape_html("&#8592;#{!source.qty.nil? && source.qty > 0 ? (source_real.to_d/source.qty*100).round : 0}") %>%
              <%= CGI.unescape_html("&#8595;#{!@totals.qty.nil? && @totals.qty > 0 ? (source_real.to_d/@totals.qty*100).round : 0}") %>%)</nobr>
            </td>
            <td><%= !source.sale_sum.nil? ? number_to_currency(source.sale_sum, precision: 0, unit: '') : 0 %></td>
            <td><nobr><%= !source.agent_sum.nil? ? number_to_currency(source.agent_sum, precision: 0, unit: '') : 0 %>
              (<%= CGI.unescape_html("&#8592;#{!source.agent_sum.nil? ? (source.agent_sum.to_d/source.sale_sum*100).round : 0}") %>%
              <%= CGI.unescape_html("&#8595;#{!source.agent_sum.nil? ? (source.agent_sum.to_d/@totals.sale_sum*100).round : 0}") %>%)</nobr>
            </td>
            <td><nobr><%= !source.comm_sum.nil? ? number_to_currency(source.comm_sum, precision: 0, unit: '') : 0 %>
              (<%= CGI.unescape_html("&#8592;#{!source.comm_sum.nil? ? (source.comm_sum.to_d/source.sale_sum*100).round : 0}") %>%
              <%= CGI.unescape_html("&#8595;#{!source.comm_sum.nil? ? (source.comm_sum.to_d/@totals.comm_sum*100).round : 0}") %>%)</nobr></td>
            <td><%= !source.nett_sum.nil? ? number_to_currency(source.nett_sum, precision: 0, unit: '') : 0 %></td>
            <% if (source.source_id.present? && @totals.qty > 0 && (source.qty.to_d/@totals.qty*100).round < 10) %>
              <%  sub_totals["qty_sum"] += source.qty %>
              <%  sub_totals["qty_cancel_sum"] += source.qty_cancel %>
              <%  sub_totals["qty_block_sum"] += source.qty_block %>
              <%  sub_totals["qty_real_sum"] += source.qty-source.qty_cancel-source.qty_block %>
              <%  sub_totals["sale_sum"] += source.sale_sum if !source.sale_sum.nil?%>
              <%  sub_totals["agent_sum"] += source.agent_sum if !source.agent_sum.nil? %>
              <%  sub_totals["comm_sum"] += source.comm_sum if !source.comm_sum.nil?%>
              <%  sub_totals["nett_sum"] += source.nett_sum if !source.nett_sum.nil? %>
            <% end %>
          </tr>
        <% end %>
        <tr style="font-weight:bold">
          <td>Total:</td>
          <td><%= @totals.qty %></td>
          <td><%= @totals.qty_cancel %></td>
          <td><%= @totals.qty_block %></td>
          <td><%= @totals.qty - @totals.qty_cancel - @totals.qty_block %></td>
          <td><%= !@totals.sale_sum.nil? ? number_to_currency(@totals.sale_sum, precision: 0, unit: '') : 0  %></td>
          <td><%= !@totals.agent_sum.nil? ? number_to_currency(@totals.agent_sum, precision: 0, unit: '') : 0 %> (<%= !@totals.agent_sum.nil? ? (@totals.agent_sum.to_d/@totals.sale_sum*100).round : 0 %>%) </td>
          <td><%= !@totals.comm_sum.nil? ? number_to_currency(@totals.comm_sum, precision: 0, unit: '') : 0  %> (<%= !@totals.comm_sum.nil? ? (@totals.comm_sum.to_d/@totals.sale_sum*100).round : 0 %>%) </td>
          <td><%= !@totals.nett_sum.nil? ? number_to_currency(@totals.nett_sum, precision: 0, unit: '') : 0 %></td>
        </tr>
        <tr style="font-weight:bold">
          <td>Agents with qty < 10%:</td>
          <td><%= sub_totals["qty_sum"]  %> (<%= (sub_totals["qty_sum"]/@totals.qty.to_d*100).round if @totals.qty > 0 %>%)</td>
          <td><%= sub_totals["qty_cancel_sum"]  %> (<%= (sub_totals["qty_cancel_sum"]/@totals.qty.to_d*100).round if @totals.qty > 0 %>%)</td>
          <td><%= sub_totals["qty_block_sum"]  %> (<%= (sub_totals["qty_block_sum"]/@totals.qty.to_d*100).round if @totals.qty > 0 %>%)</td>
          <td><%= sub_totals["qty_real"]  %> (<%= (sub_totals["qty_real_sum"]/@totals.qty.to_d*100).round if @totals.qty > 0 %>%)</td>
          <td><%= number_to_currency(sub_totals["sale_sum"], precision: 0, unit: '') %> (<%= (sub_totals["sale_sum"]/@totals.sale_sum.to_d*100).round if !@totals.sale_sum.nil? && @totals.sale_sum > 0  %>%)</td>
          <td><%= number_to_currency(sub_totals["agent_sum"], precision: 0, unit: '') %> (<%= (sub_totals["agent_sum"]/@totals.agent_sum.to_d*100).round if !@totals.agent_sum.nil? && @totals.agent_sum > 0 %>%)</td>
          <td><%= number_to_currency(sub_totals["comm_sum"], precision: 0, unit: '') %> (<%= (sub_totals["comm_sum"]/@totals.comm_sum.to_d*100).round if !@totals.comm_sum.nil? && @totals.comm_sum > 0 %>%)  </td>
          <td><%= number_to_currency(sub_totals["nett_sum"], precision: 0, unit: '') %></td>
        </tr>
      </table>
    </div>
    Statistic showen for all bookings with statuses temporary, pending, confirmed, paid, changing exclude bookings with statuses canceled and block.
  <% else %>
    <div class="bg-white p-3">
      No bookings for this period
    </div>
  <% end %>
</div>
