<h1>Income by house groups</h1>

<%= form_with url: report_income_path, method: :get, local: true do |form| %>
  <%= form.collection_check_boxes :groups, HouseGroup.order(:id), :id, :name do |b|%>
    <%= b.label { b.check_box(checked: ( @selected_groups && (@selected_groups.include? b.value))) + b.text }  %>
  <% end %>
  <div class="form-row">
    <div class="col-6 col-lg-2 mb-1 mb-lg-0">
      <%= date_field_tag :from, {}, value: @from, class: "form-control" %>
    </div>
    <div class="col-6 col-lg-2 mb-1 mb-lg-0">
      <%= date_field_tag :to, {}, value: @to, class: "form-control mb-2 mr-md-2" %>
    </div>
    <%= submit_tag t('show'), class: "btn btn-primary mb-2 mr-2" %>
  </div>
<% end %>
<% if @error.present? %>
  <%= @error %>
<% elsif !@results.empty? %>
  <div>
    <div class="row">
    <% @results.each do |result| %>
      <div class="col">
      <%= result[:group_name] %><br />
      <% result[:values_by_type].each do |type_id, debit, credit| %>
        <%= @transaction_type_names[type_id] %>
        +<%= number_to_currency(debit, precision: 0, unit: '') %> /
        -<%= number_to_currency(credit, precision: 0, unit: '') %><br />
      <% end %>
      <% if result[:values_by_type].any? %>
      ---<br />
        +<%= number_to_currency(result[:total_debit], precision: 0, unit: '') %> /
        -<%= number_to_currency(result[:total_credit], precision: 0, unit: '') %>
        = <%= number_to_currency(result[:total_debit] - result[:total_credit], precision: 0, unit: '') %>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
        <% if @results_with_out_groups.any? %>
      <% @results_with_out_groups.each do |result| %>
        <div class="col">
        House with out groups<br />
        <% result[:values_by_type].each do |type_id, debit, credit| %>
          <%= @transaction_type_names[type_id] %>
          +<%= number_to_currency(debit, precision: 0, unit: '') %> /
          -<%= number_to_currency(credit, precision: 0, unit: '') %><br />
        <% end %>
        ---<br />
          +<%= number_to_currency(result[:total_debit], precision: 0, unit: '') %> /
          -<%= number_to_currency(result[:total_credit], precision: 0, unit: '') %>
          = <%= number_to_currency(result[:total_debit] - result[:total_credit], precision: 0, unit: '') %>
        </div>
      <% end %>
    <% end %>
    <% if @results_with_out_houses.any? %>
      <% @results_with_out_houses.each do |result| %>
        <div class="col">
        With out houses but with owner<br />
        <% result[:values_by_type].each do |type_id, debit, credit| %>
          <%= @transaction_type_names[type_id] %>
          +<%= number_to_currency(debit, precision: 0, unit: '') %> /
          -<%= number_to_currency(credit, precision: 0, unit: '') %><br />
        <% end %>
        ---<br />
          +<%= number_to_currency(result[:total_debit], precision: 0, unit: '') %> /
          -<%= number_to_currency(result[:total_credit], precision: 0, unit: '') %>
          = <%= number_to_currency(result[:total_debit] - result[:total_credit], precision: 0, unit: '') %>
        </div>
      <% end %>
    <% end %>
    <% if @results_with_out_houses_or_owners.any? %>
      <% @results_with_out_houses_or_owners.each do |result| %>
        <div class="col">
        Only company<br />
        <% result[:values_by_type].each do |type_id, debit, credit| %>
          <%= @transaction_type_names[type_id] %>
          +<%= number_to_currency(debit, precision: 0, unit: '') %> /
          -<%= number_to_currency(credit, precision: 0, unit: '') %><br />
        <% end %>
        ---<br />
          +<%= number_to_currency(result[:total_debit], precision: 0, unit: '') %> /
          -<%= number_to_currency(result[:total_credit], precision: 0, unit: '') %>
          = <%= number_to_currency(result[:total_debit] - result[:total_credit], precision: 0, unit: '') %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  No data
<% end %>
