<h1>Balance of <%= "#{@owner.name}" %></h1>
<h5><%= "Period #{@from.to_date.to_fs(:date)} - #{@to.to_date.to_fs(:date)}" %></h3>
<h5>Asset: <%= House.find(@house_id).code if @house_id.present? %></h3>
<a href="#" data-hide-comm class="d-print-none">Toggle comm</a>
<a href="#" data-hide-debit class="d-print-none">Toggle debit</a>
<table class="table table-sm">
  <thead>
    <th width="10%">Date</td>
    <th class="debit">Debit</td>
    <th>Credit</td>
    <th class="comm">Comm</td>
    <th>Comment</td>
    <th>Files</td>
    <th></th>
  </thead>
  <% @transactions.each do |t| %>
    <% de_ow = t.balance_outs.sum(:debit) %>
    <% cr_ow = t.balance_outs.sum(:credit) %>
    <% de_co = t.balances.sum(:debit) %>
    <tr id="<%= t.id %>" <%= "class=debit" if de_ow > 0 %>>
      <td><%= t.date.to_fs(:date) %></td>
      <td class="debit"><%= number_to_currency(de_ow, precision: 2, unit: '') if de_ow > 0 %></td>
      <td><%= number_to_currency(cr_ow-de_co, precision: 2, unit: '') if (cr_ow-de_co) > 0 %></td>
      <td class="comm"><%= number_to_currency(de_co, precision: 2, unit: '') if de_co > 0 %></td>
      <td><%= t.comment_en %><%= t.cash ? " /C" : nil %></td>
      <td>
        <% i = 0 %>
        <% t.files.where(show: true).each do |f| %>
          <% i +=1 %>
          <%= link_to "File_#{i} (#{File.extname(f.url)})", f.full_url, target: '_blank' %>
        <% end %>
      </td>
      <td><a href="#" class="hide" data-trsc-id="<%= t.id %>">hide</a></td></td>
    </tr>
  <% end %>
</table>
