<%= form_with(model: house_photo,
              url: house_photo_update_path(house_photo),
              id: "form_edit_photo_id_#{house_photo.id}") do |f| %>
  <div class="row photo_row mb-3" id="photo_id_<%= house_photo.id %>">
    <div class="col-md-2 photo_thumb">
      <img src="<%= house_photo.thumb %>" class='img-fluid mb-1' />
    </div>
    <div class="col-md-8 photo_titles">
      <%= f.text_field :title_en, placeholder: 'Title', class: 'form-control mb-1 photo_title_input', data: {photo_id: house_photo.id} %>
      <%= f.text_field :title_ru, placeholder: 'Подпись', class: 'form-control mb-1 photo_title_input', data: {photo_id: house_photo.id} %>
    </div>
    <div class="col-md-2 photo_actions text-right">
      <%#= f.submit 'Update', class: 'btn btn-primary btn-sm btn-block' %>
      <%= f.submit 'Use as default', class: 'btn btn-primary btn-sm btn-block mt-md-1', tabindex: "-1" %>
      <%= link_to 'Delete', house_photo_delete_path(house_photo), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm btn-block mt-md-1', role: 'button', tabindex: "-1" %>
    </div>
  </div>
  <div class="text-right">
  </div>
  <hr />
<% end %>
