<%= form_with(model: house_photo, url: house_photo_update_path(house_photo)) do |f| %>
  <div class="row photo_row mb-3" id="photo_id_<%= house_photo.id %>">
    <div class="col-md-1 photo_thumb">
      <a data-fancybox="gallery" href="<%= house_photo.original %>"><img src="<%= house_photo.thumb %>"></a>
    </div>
    <div class="col-md-9 photo_titles">
      <%= f.text_field :title_en, placeholder: 'Title EN', class: 'form-control mb-1' %>
      <%= f.text_field :title_ru, placeholder: 'Title ', class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <%= f.submit 'Update', class: 'btn btn-primary btn-sm btn-block mb-1' %>
      <%= link_to 'Delete', house_photo_delete_path(house_photo), remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm btn-block', role: 'button' %>

    </div>
  </div>
<% end %>
