<h1><%= @house.code %> photos</h1>

<div class="row">
  <div class="col-xl-3 mb-2">
    <div class="shadow-sm mb-2 p-2 bg-white border rounded">
      <div id='house_preview'><%= image_tag @house.preview, class: 'img-fluid', id: 'house_preview_img' if @house.preview.present? %></div>
      <div class="actions mt-2 text-right">
        <%#= form.submit 'Save House', class: 'btn btn-primary' %>
        <%= link_to 'Delete all photos', house_photo_delete_all_path(@house.number), remote: false, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm btn-block', role: 'button' %>
        <%= link_to 'Back', edit_house_path(@house.number), class: 'btn btn-secondary btn-block' %>
      </div>
    </div>
  </div>
  <div class="col-xl-9">
    <div class="shadow-sm mb-2 p-2 bg-white border rounded">
      <%= form_with(local: true, id: 'photoupload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host }) do |form| %>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" multiple>
          <label class="custom-file-label" for="customFile">Choose photos</label>
        </div>
        <div class="progress mt-2" style="height:3px;">
          <div class="progress-bar bg-info thumb" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <%= hidden_field_tag 'hid', @house.number %>
      <% end %>
      <div id='photo_previews' class='mt-2'>
        <%= render @photos %>
      </div>
    </div>
  </div>
</div>

<div class="custom-file d-none">
  <input type="file" class="custom-file-input" id="photoupload_thumb" multiple>
  <label class="custom-file-label" for="customFile">Choose file</label>
</div>

