<h1>Transfers</h1>

<%= render 'shared/error_messages', object: @transfer %>

<% if controller_name = "transfers" %>
  <%= form_with(url: transfers_path, local: true, method: :get) do |f| %>
    <div class="form-row">
      <div class="col-md-2 form-group">
        <%= date_field_tag :from, {}, value: params[:from], class: "form-control" %>
      </div>
      <div class="col-md-2 form-group">
        <%= date_field_tag :to, {}, value: params[:to], class: "form-control" %>
      </div>
      <div class="col-md-2 form-group">
        <%= f.submit 'Show', class: 'btn btn-primary' %>
      </div>

    </div>
  <% end %>
<% end %>
<% if current_user.role? ['Admin', 'Mnager'] %>
  <%= link_to 'New transfer', '#',
                      data: {
                        toggle: 'modal',
                        target: '#new_transfer_modal',
                        transfer_type: 'none',
                      },
                      class: 'link_new_transfer' %>
<% end %>
<div id="transfers">
  <%= render 'transfers', transfers: @transfers %>
</div>
<div id="transfer_form">
  <%#= render 'form',  transfer: @transfer,
                      request_from: 'transfers' %>
  <%= render 'form',  transfer: @transfer %>
</div>
