<p id="notice"><%= notice %></p>

<p>
  <strong>Booking:</strong>
  <%= @transfer.booking_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @transfer.number %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
