<div style="width:100%!important;color:#767676;background:#f2f2f2;font-family:Tahoma,'Unicode Arial MS',Helvetica,Arial,sans-serif;font-size:13px;margin:0;padding:0">
  <table width=700px align="center" style="padding: 5px;">
    <tr>
      <td>
        <h2 style="color: #479e98;">
          <%= image_tag('https://phuketmanage.s3.amazonaws.com/images/logo.png', { width: 25 } ) %> Phuket Manage
        </h2>
      </td>
    </tr>
    <tr align='center'>
      <td>
        <h1 style='color:#4CAF50;'>
          Password reset request
        </h1>
      </td>
    </tr>
    <tr>
      <td>
        <p>Hello <%= "#{@resource.name} #{@resource.surname}" %>!</p>

        <p>Password change procedure was requested. You can do this through the link below.</p>

        <p>If you didn't request this or you don't need this, please ignore this email.</p>

        <p>Your password won't change until you access the link below and create a new one.</p>
      </td>
    </tr>
    <tr>
      <td width='800px'>
        <a href='<%= edit_password_url(@resource, reset_password_token: @token) %>';" style='background-color:#4CAF50;border:none;color:white;padding:15px 0px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;width:100%;margin-top:20px;cursor:pointer;'>Change my password</a>
      </td>
    </tr>
    <tr>
      <td>
        <p style="padding-top: 15px;">--<br />
        <%= t('app.name') %><br />
        <%= link_to t('app.phone'), "tel:#{t('app.phone')}" %><br />
        <%= link_to t('app.email'), "mailto:#{t('app.email')}" %></p>
      </td>
    </tr>
  </table>
</div>
