<div style="width:100%!important;color:#767676;background:#f2f2f2;font-family:Tahoma,'Unicode Arial MS',Helvetica,Arial,sans-serif;font-size:13px;margin:0;padding:0">
  <table width=700px align="center" style="padding: 5px;">
    <tr>
      <td>
        <h2 style="color: #479e98;">
          <%= image_tag('https://phuketmanage.s3.amazonaws.com/images/logo.png', { width: 25 } ) %> Phuket Manage
        </h2>
      </td>
    </tr>
    <tr align='center'>
      <td>
        <h1 style='color:#4CAF50;'>
          Запрос на смену пароля
        </h1>
      </td>
    </tr>
    <tr>
      <td>
        <p>Приветствуем <%= "#{@resource.name} #{@resource.surname}" %>!</p>

        <p>Был сделан запрос процедуры смены пароля. Вы можете сделать это перейдя по ссылке ниже.</p>

        <p>Если вы не запрашивали этого или вам это не нужно то проигнорируйте это письмо.</p>

        <p>Ваш пароль не будет изменен пока вы не перейдете по ссылке ниже и не создадите новый пароль.</p>
      </td>
    </tr>
    <tr>
      <td width='800px'>
        <a href='<%= edit_user_password_url(@resource, reset_password_token: @token) %>';" style='background-color:#4CAF50;border:none;color:white;padding:15px 0px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;width:100%;margin-top:20px;cursor:pointer;'>Поменять пароль</a>
      </td>
    </tr>
    <tr>
      <td>
        <p style="padding-top: 15px;">--<br />
        <%= t('app.name') %><br />
        <%= link_to t('app.reservation_phone'), "tel:#{t('app.reservation_phone')}" %><br />
        <%= link_to t('app.reservation_email'), "mailto:#{t('app.reservation_email')}" %></p>
      </td>
    </tr>
  </table>
</div>


