<tr>
 <td><%= user.email %></td>
 <td><%= "#{user.name} #{user.surname}" %></td>
 <td><%= user.roles.map{|role| role.name}.join %></td>
 <td><%= user.houses.map{|house| house.code}.join(', ') %></td>
 <td>
  <%= link_to 'Edit', edit_user_path(user) %>
  <% if current_user.role? ['Admin'] %>
    | <%= link_to 'Request password reset', password_reset_request_path(user) %>
  <% end %>
</td>
</tr>
