<h2>New user</h2>

<%= form_with(model: @user, url: create_user_path, local: true) do |f| %>
  <% if @user.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname, autofocus: true, autocomplete: "surname" %>
  </div>

  <div class="field">
    <%= f.label :passport %><br />
    <%= f.text_field :passport, autofocus: true, autocomplete: "passport" %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
  </div>


  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    Role:
    <%= f.collection_check_boxes :role_ids, @roles, :id, :name do |c| %>
        <div class="form-check form-check-inline">
          <%= c.check_box(class: "form-check-input") %>
          <%= c.label(class: "form-check-label" ) %>
        </div>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
