
<table class='cell-border display compact stripe bg-white'>
  <thead>
    <tr>
      <th></th><!-- #1 Button to open comment -->
      <th width="70px">Date</th><!-- #2 -->
      <th class="text-right" width="95px">Debit</th><!-- #3 -->
      <th class="text-right" width="95px">Credit</th><!-- #4 -->
      <% if current_user.role?("Admin") %>
        <th class="text-right balance" width="95px">Balance</th><!-- #5 -->
      <% end %>
      <th>Type</th><!-- #6 -->
      <th>House</th><!-- #7 -->
      <th width="300px">Comment</th><!-- #8 -->
      <th><%= t('files') %></th><!-- #9 -->
      <th>Actions</th><!-- #10 -->
    </tr>
  </thead>
  <tbody>
    <% de_co_sum = 0 %>
    <% cr_co_sum = 0 %>
    <% de_co_prev_sum = 0 %>
    <% cr_co_prev_sum = 0 %>
    <% balance_sum = 0 %>
    <% if transactions_before.any? && current_user.role?("Admin") %>
      <% de_co_prev_sum = transactions_before.where(for_acc: false).joins(:balances).sum('balances.debit') %>
      <% cr_co_prev_sum = transactions_before.where(for_acc: false).joins(:balances).sum('balances.credit') %>
      <% balance_sum += de_co_prev_sum - cr_co_prev_sum %>
      <tr>
        <td></td><!-- #1 Button to open comment -->
        <td></td><!-- #2 Date, but no date for totals -->
        <td class="text-right" id="de_co_prev_sum"></td>
        <td class="text-right" id="cr_co_prev_sum"></td>
        <td class="text-right" id="co_prev_balance">
          <%= number_to_currency(balance_sum, precision: 2, unit: '') %>
        </td>
        <td></td><!-- #6 Type, but no type for totals -->
        <td></td><!-- #7 House, but no house for totals -->
        <td>Balance from previous period</td>
        <td></td><!-- #9 Files, but no files for totals -->
        <td></td><!-- #10 Actions, but no Actions for totals -->
      </tr>
    <% end %>
    <% transactions.each do |t| %>
      <% de_co = t.balances.sum(:debit) %>
      <% cr_co = t.balances.sum(:credit) %>
      <% de_co_sum += de_co %>
      <% cr_co_sum += cr_co %>
      <% balance_sum += de_co - cr_co %>

      <% next if t.for_acc %>
      <% if t.incomplite? %>
        <tr id="trsc_<%= t.id %>_row" class="table-danger <%= 'text-muted' if t.hidden %>" data-child-comment-inner="<%= t.comment_inner %>" data-toggle="tooltip" data-placement="bottom" title="Support documents not ready yet">
      <% else %>
        <tr id="trsc_<%= t.id %>_row" <%= "class=text-muted" if t.hidden %> data-child-comment-inner="<%= t.comment_inner %>">
      <% end %>
        <!-- #1 Button to open comment -->
        <% if t.comment_inner.present? %>
          <td class="details-control"><%= fa_icon "plus-circle" %></td>
        <% else %>
          <td></td>
        <% end %>
        <!-- #2 Date -->
        <td><span style="display:none;"><%= t.date.to_time.to_i %></span><%= t.date.strftime('%d.%m.%Y') %></td>
        <!-- #3 Debit -->
        <td class='de_co_cell text-right'><%= number_to_currency(de_co, precision: 2, unit: '') if de_co > 0 %></td>
        <!-- #4 Credit -->
        <td class='cr_co_cell text-right'><%= number_to_currency(cr_co, precision: 2, unit: '') if cr_co > 0 %></td>
        <!-- #5 Balance, only for Admin -->
        <% if current_user.role?("Admin") %>
          <td class='balance_sum_cell text-right'><%= number_to_currency(balance_sum, precision: 2, unit: '') %></td>
        <% end %>
        <!-- #6 Type -->
        <td><%= t.type.name_en %></td>
        <!-- #7 House -->
        <td><%= t.house.code if t.house %> <%= t.user.surname if t.house.nil? && t.user_id %></td>
        <!-- #8 Comment -->
        <td class='comment'>
          <%= t.comment_en %>
          <%= t.cash ? "/C" : nil %>
          <% if t.user && t.user.locale == 'ru' && !t.comment_ru.present? && current_user.role?(['Admin', 'Manager'])%>
            <%= link_to 'Translate', edit_transaction_path(t) %>
          <% end %>
        </td>
        <!-- #9 Files -->
        <td>
            <% if current_user.role?(['Owner']) %>
              <% files = t.files.where(show: true) %>
            <% elsif current_user.role?(['Admin', 'Accounting', 'Manager']) %>
              <% files = t.files %>
            <% end %>
            <% if files.any? %>
              <%= link_to "#{t('files')}(#{files.count})", '#', data: {show_files: '', transaction: t.id} %>
            <% end %>
        </td>
        <!-- #10 Actions -->
        <td>
          <% if current_user.role?(['Accounting', 'Manager']) && t.date >= (Date.today-1.month).beginning_of_month %>
            <%= link_to 'Edit', edit_transaction_path(t) %>
          <% end %>
          <% if current_user.role?(['Accounting', 'Manager']) && t.created_at > Date.today-1.day %>
            <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <% if current_user.role?('Admin') %>
            <%= link_to 'Edit', edit_transaction_path(t) %>
            <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <%= link_to 'Copy', new_transaction_path(tid: t.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <!-- #1 -->
      <td></td>
      <!-- #2 -->
      <td class='font-weight-bold text-right'>Total:</td>
      <!-- #3 -->
      <td class="font-weight-bold text-right" id="de_co_sum">
        <%= number_to_currency(de_co_prev_sum + de_co_sum, precision: 2, unit: '') %>
      </td>
      <!-- #4 -->
      <td class="font-weight-bold text-right" id="cr_co_sum">
        <%= number_to_currency(cr_co_prev_sum + cr_co_sum, precision: 2, unit: '') %>
      </td>
      <!-- #5 -->
      <% if current_user.role?("Admin") %>
        <td class="font-weight-bold text-right" id="co_balance">
          <%= number_to_currency(de_co_prev_sum + de_co_sum - cr_co_prev_sum - cr_co_sum, precision: 2, unit: '') %>
        </td>
      <% end %>
      <td></td><!-- #6 -->
      <td></td><!-- #7 -->
      <td></td><!-- #8 -->
      <td></td><!-- #9 -->
      <td></td><!-- #10 -->
    </tr>
  </tfoot>
</table>
<hr />
<h5><%= t('transactions_by_type') %></h5>
<table class='table table-striped table-bordered table-sm bg-white table-responsive'>
  <tr>
    <th>Transaction type</th>
    <th>Debit</th>
    <th>Credit</th>
  </tr>
  <% i = 0 %>
  <% debit_total = 0 %>
  <% credit_total = 0 %>
  <% @transactions_by_cat.each do |t| %>
    <% i += 1 %>
    <% debit_total += t.debit_sum if !t.debit_sum.nil? %>
    <% credit_total += t.credit_sum if !t.credit_sum.nil? %>
    <tr>
      <td><%= t.type.name_en %></td>
      <td><%= number_to_currency(t.debit_sum, precision: 2, unit: '') %></td>
      <td><%= number_to_currency(t.credit_sum, precision: 2, unit: '') %></td>
    </tr>

    <% if i == @transactions_by_cat.size %>
      <tr>
        <td><%= number_to_currency(debit_total-credit_total, precision: 2, unit: '') %></td>
        <td><%= number_to_currency(debit_total, precision: 2, unit: '') %></td>
        <td><%= number_to_currency(credit_total, precision: 2, unit: '') %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<div id="transaction_files" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="file_current">
        </div>
        <div class="files_carousel mt-2">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag 'files_host', S3_HOST %>

