
<table id="balance_table" class='cell-border display compact stripe bg-white'>
  <thead>
    <tr>
      <th width="70px">Date</th>
      <th class="text-right" width="95px">Debit</th>
      <th class="text-right" width="95px">Credit</th>
      <th class="text-right" width="95px">Balance</th>
      <th>Type</th>
      <th>House</th>
      <th width="300px">Comment</th>
      <th width="90px">Com. inner</th>
      <th>Actions</th>
      <th width="95px">Debit</th>
      <th width="95px">Credit</th>
    </tr>
  </thead>
  <tbody>
    <% de_co_sum = 0 %>
    <% cr_co_sum = 0 %>
    <% de_co_prev_sum = 0 %>
    <% cr_co_prev_sum = 0 %>
    <% balance_sum = 0 %>
    <% if transactions_before.any? %>
      <% de_co_prev_sum = transactions_before.where(for_acc: false).joins(:balances).sum('balances.debit') %>
      <% cr_co_prev_sum = transactions_before.where(for_acc: false).joins(:balances).sum('balances.credit') %>
      <% balance_sum += de_co_prev_sum - cr_co_prev_sum %>
      <tr>
        <td></td>
        <td class="text-right" id="de_co_prev_sum">
          <%= number_to_currency(de_co_prev_sum - cr_co_prev_sum, precision: 2, unit: '') if de_co_prev_sum > cr_co_prev_sum %>
        </td>
        <td class="text-right" id="cr_co_prev_sum">
          <%= number_to_currency(cr_co_prev_sum - de_co_prev_sum, precision: 2, unit: '') if cr_co_prev_sum > de_co_prev_sum %>
        </td>
        <td class="text-right" id="co_prev_balance">
          <%= number_to_currency(balance_sum, precision: 2, unit: '') %></td>
        <td></td>
        <td></td>
        <td>Balance from previous period</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
    <% transactions.each do |t| %>
      <% next if t.for_acc %>
      <tr id="trsc_<%= t.id %>_row" <%= "class=text-muted" if t.hidden %>>
        <% de_co = t.balances.sum(:debit) %>
        <% cr_co = t.balances.sum(:credit) %>
        <% de_ow = t.balance_outs.sum(:debit) %>
        <% cr_ow = t.balance_outs.sum(:credit) %>
        <% de_co_sum += de_co %>
        <% cr_co_sum += cr_co %>
        <% balance_sum += de_co - cr_co %>
        <td data-sort="<%= t.date.strftime("%Y%m%d") %>"><%= t.date.strftime('%d.%m.%Y') %></td>
        <td class='de_co_cell text-right'><%= number_to_currency(de_co, precision: 2, unit: '') if de_co > 0 %></td>
        <td class='cr_co_cell text-right'><%= number_to_currency(cr_co, precision: 2, unit: '') if cr_co > 0 %></td>
        <td class='balance_sum_cell text-right'><%= number_to_currency(balance_sum, precision: 2, unit: '') %></td>
        <td><%= t.type.name_en %></td>
        <td><%= t.house.code if t.house %></td>
        <td>
          <%= t.comment_en %>
          <% if t.user && t.user.locale == 'ru' && !t.comment_ru.present? && current_user.role?(['Admin', 'Manager'])%>
            <%= link_to 'Translate', edit_transaction_path(t) %>
          <% end %>
        </td>
        <td><%= t.comment_inner %></td>
        <td>
          <% if current_user.role?(['Accounting', 'Manager']) && t.date > (Date.today-30.days).beginning_of_month %>
            <%= link_to 'Edit', edit_transaction_path(t) %>
          <% end %>
          <% if current_user.role?(['Accounting', 'Manager']) && t.date > Date.today-1.day %>
            <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <% if current_user.role?('Admin') %>
            <%= link_to 'Edit', edit_transaction_path(t) %>
            <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
        <td class='de_ow_cell text-right'><%= number_to_currency(de_ow, precision: 2, unit: '') if de_ow > 0%></td>
        <td class='cr_ow_cell text-right'><%= number_to_currency(cr_ow, precision: 2, unit: '') if cr_ow > 0 %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class='font-weight-bold text-right'>Total:</td>
      <td class="font-weight-bold text-right" id="de_co_sum">
        <%= number_to_currency(de_co_prev_sum + de_co_sum, precision: 2, unit: '') %></td>
      <td class="font-weight-bold text-right" id="cr_co_sum"><%= number_to_currency(cr_co_prev_sum + cr_co_sum, precision: 2, unit: '') %></td>
      <td class="font-weight-bold text-right" id="co_balance">
        <%= number_to_currency(de_co_prev_sum + de_co_sum - cr_co_prev_sum - cr_co_sum, precision: 2, unit: '') %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
<hr />
<h5><%= t('transactions_by_type') %></h5>
<table class='table table-striped table-bordered table-sm bg-white table-responsive'>
  <tr>
    <th>Transaction type</th>
    <th>Debit</th>
    <th>Credit</th>
  </tr>
  <% @transactions_by_cat.each do |t| %>
    <tr>
      <td><%= t.type.name_en %></td>
      <td><%= number_to_currency(t.debit_sum, precision: 2, unit: '') %></td>
      <td><%= number_to_currency(t.credit_sum, precision: 2, unit: '') %></td>
    </tr>
  <% end %>
</table>
