
<table id="balance_table_with_details" class='cell-border display compact stripe bg-white'>
  <thead>
    <tr>
      <th></th>
      <th width="70px">Date</th>
      <th class="text-right" width="95px">Debit</th>
      <th class="text-right" width="95px">Credit</th>
      <th class="text-right" width="95px">Balance</th>
      <th>Type</th>
      <th>House</th>
      <th width="300px">Comment</th>
      <th>Actions</th>
      <th width="95px">Debit</th>
      <th width="95px">Credit</th>
    </tr>
  </thead>
  <tbody>
    <% de_co_sum = 0 %>
    <% cr_co_sum = 0 %>
    <% de_co_prev_sum = 0 %>
    <% cr_co_prev_sum = 0 %>
    <% balance_sum = 0 %>
    <% if transactions_before.any? %>
      <% de_co_prev_sum = transactions_before.where(for_acc: false).joins(:balances).sum('balances.debit') %>
      <% cr_co_prev_sum = transactions_before.where(for_acc: false).joins(:balances).sum('balances.credit') %>
      <% balance_sum += de_co_prev_sum - cr_co_prev_sum %>
      <tr>
        <td></td>
        <td></td>
        <td class="text-right" id="de_co_prev_sum">
          <%= number_to_currency(de_co_prev_sum - cr_co_prev_sum, precision: 2, unit: '') if de_co_prev_sum > cr_co_prev_sum %>
        </td>
        <td class="text-right" id="cr_co_prev_sum">
          <%= number_to_currency(cr_co_prev_sum - de_co_prev_sum, precision: 2, unit: '') if cr_co_prev_sum > de_co_prev_sum %>
        </td>
        <td class="text-right" id="co_prev_balance">
          <%= number_to_currency(balance_sum, precision: 2, unit: '') %></td>
        <td></td>
        <td></td>
        <td>Balance from previous period</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
    <% transactions.each do |t| %>
      <% de_co = t.balances.sum(:debit) %>
      <% cr_co = t.balances.sum(:credit) %>
      <% de_ow = t.balance_outs.sum(:debit) %>
      <% cr_ow = t.balance_outs.sum(:credit) %>
      <% de_co_sum += de_co %>
      <% cr_co_sum += cr_co %>
      <% balance_sum += de_co - cr_co %>

      <% next if t.for_acc %>
      <% if (de_ow.nil? || de_ow == 0) && (cr_ow > 0 && cr_ow == de_co) %>
        <tr id="trsc_<%= t.id %>_row" class="table-warning <%= 'text-muted' if t.hidden %>" data-child-comment-inner="<%= t.comment_inner %>" data-toggle="tooltip" data-placement="left" title="Owner debit = Company debit">
      <% elsif cr_ow > 0 && cr_ow < de_co %>
        <tr id="trsc_<%= t.id %>_row" class="table-warning <%= 'text-muted' if t.hidden %>" data-child-comment-inner="<%= t.comment_inner %>" data-toggle="tooltip" data-placement="left" title="Owner debit < Company debit">

      <% else %>
        <tr id="trsc_<%= t.id %>_row" <%= "class=text-muted" if t.hidden %> data-child-comment-inner="<%= t.comment_inner %>">
      <% end %>
        <% if t.comment_inner.present? %>
          <td class="details-control"><%= fa_icon "plus-circle" %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><span style="display:none;"><%= t.date.to_time.to_i %></span><%= t.date.strftime('%d.%m.%Y') %></td>
        <td class='de_co_cell text-right'><%= number_to_currency(de_co, precision: 2, unit: '') if de_co > 0 %></td>
        <td class='cr_co_cell text-right'><%= number_to_currency(cr_co, precision: 2, unit: '') if cr_co > 0 %></td>
        <td class='balance_sum_cell text-right'><%= number_to_currency(balance_sum, precision: 2, unit: '') %></td>
        <td><%= t.type.name_en %></td>
        <td><%= t.house.code if t.house %></td>
        <td>
          <%= t.comment_en %>
          <% if t.user && t.user.locale == 'ru' && !t.comment_ru.present? && current_user.role?(['Admin', 'Manager'])%>
            <%= link_to 'Translate', edit_transaction_path(t) %>
          <% end %>
        </td>
        <td>
          <% if current_user.role?(['Accounting', 'Manager']) && t.date > (Date.today-30.days).beginning_of_month %>
            <%= link_to 'Edit', edit_transaction_path(t) %>
          <% end %>
          <% if current_user.role?(['Accounting', 'Manager']) && t.date > Date.today-1.day %>
            <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <% if current_user.role?('Admin') %>
            <%= link_to 'Edit', edit_transaction_path(t) %>
            <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
        <td class='de_ow_cell text-right'><%= number_to_currency(de_ow, precision: 2, unit: '') if de_ow > 0%></td>
        <td class='cr_ow_cell text-right'><%= number_to_currency(cr_ow, precision: 2, unit: '') if cr_ow > 0 %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td class='font-weight-bold text-right'>Total:</td>
      <td class="font-weight-bold text-right" id="de_co_sum">
        <%= number_to_currency(de_co_prev_sum + de_co_sum, precision: 2, unit: '') %></td>
      <td class="font-weight-bold text-right" id="cr_co_sum"><%= number_to_currency(cr_co_prev_sum + cr_co_sum, precision: 2, unit: '') %></td>
      <td class="font-weight-bold text-right" id="co_balance">
        <%= number_to_currency(de_co_prev_sum + de_co_sum - cr_co_prev_sum - cr_co_sum, precision: 2, unit: '') %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
<hr />
<h5><%= t('transactions_by_type') %></h5>
<table class='table table-striped table-bordered table-sm bg-white table-responsive'>
  <tr>
    <th>Transaction type</th>
    <th>Debit</th>
    <th>Credit</th>
  </tr>
  <% i = 0 %>
  <% debit_total = 0 %>
  <% credit_total = 0 %>
  <% @transactions_by_cat.each do |t| %>
    <% i += 1 %>
    <% debit_total += t.debit_sum if !t.debit_sum.nil? %>
    <% credit_total += t.credit_sum if !t.credit_sum.nil? %>
    <tr>
      <td><%= t.type.name_en %></td>
      <td><%= number_to_currency(t.debit_sum, precision: 2, unit: '') %></td>
      <td><%= number_to_currency(t.credit_sum, precision: 2, unit: '') %></td>
    </tr>

    <% if i == @transactions_by_cat.size %>
      <tr>
        <td><%= number_to_currency(debit_total-credit_total, precision: 2, unit: '') %></td>
        <td><%= number_to_currency(debit_total, precision: 2, unit: '') %></td>
        <td><%= number_to_currency(credit_total, precision: 2, unit: '') %></td>
      </tr>
    <% end %>
  <% end %>
</table>
