<table class='table'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Debit</th>
      <th>Credit</th>
      <th>Balance</th>
      <th>Type</th>
      <th>House</th>
      <th>Comment</th>
      <th>Comment inner</th>
      <th colspan="3"></th>
      <th>Debit</th>
      <th>Credit</th>
    </tr>
  </thead>
  <tbody>
    <% de_co_sum = 0 %>
    <% cr_co_sum = 0 %>
    <% transactions.each do |t| %>
      <tr id="trsc_<%= t.id %>_row">
        <td><%= t.date.strftime('%d.%m.%Y') %></td>
        <% de_co = t.balances.sum(:debit) %>
        <% cr_co = t.balances.sum(:credit) %>
        <% de_ow = t.balance_outs.sum(:debit) %>
        <% cr_ow = t.balance_outs.sum(:credit) %>
        <% de_co_sum += de_co %>
        <% cr_co_sum += cr_co %>
        <td class='de_co_cell text-right'><%= number_to_currency(de_co, precision: 2, unit: '') if de_co > 0 %></td>
        <td class='cr_co_cell text-right'><%= number_to_currency(cr_co, precision: 2, unit: '') if cr_co > 0 %></td>
        <td>balance</td>
        <td><%= t.type.name_en %></td>
        <td><%= t.house.code if t.house %></td>
        <td><%= t.comment_en %></td>
        <td><%= t.comment_inner %></td>
        <td><%= link_to 'Show', t %></td>
        <td><%= link_to 'Edit', edit_transaction_path(t) %></td>
        <td><%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td class='de_ow_cell text-right'><%= number_to_currency(de_ow, precision: 2, unit: '') if de_ow > 0%></td>
        <td class='cr_ow_cell text-right'><%= number_to_currency(cr_ow, precision: 2, unit: '') if cr_ow > 0 %></td>
      </tr>
    <% end %>
    <tr>
      <td class='font-weight-bold text-right'>Total:</td>
      <td class="font-weight-bold text-right" id="de_co_sum"><%= de_co_sum %></td>
      <td class="font-weight-bold text-right" id="cr_co_sum"><%= cr_co_sum %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
