<%= form_with(model: transaction, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="form-row">
    <div class="col-md-2">
      <%= form.label :date %>
      <%= form.date_field :date, value: transaction.date ? transaction.date : Time.zone.now.in_time_zone('Bangkok').to_date, class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <%= form.label :type_id %>
      <% if current_user.role? ['Admin'] %>
        <%= form.select :type_id,
              TransactionType.all.map {|t| [t.name_en, t.id]}, { prompt: 'Select transaction type' }, class: "form-control", id: 'trsc_type' %>
      <% else %>
        <%= form.select :type_id,
              TransactionType.where(admin_only: false).map {|t| [t.name_en, t.id]}, { prompt: 'Select transaction type' }, class: "form-control", id: 'trsc_type' %>
      <% end %>
    </div>
    <div class="col-md-2" id='house_id', style='display:none;'>
      <%= form.label :house_id %>
      <%= form.select :house_id,
            House.all.order(:title_en).map {|h| [h.code, h.id]},
                      { prompt: 'Select house' }, class: "form-control" %>
    </div>
    <div class="col-md-2" id='owner_id', style='display:none;'>
      <%= form.label :user_id %>
      <%= form.select :user_id,
            User.with_role(['Owner']).order(:name).map {|u| ["#{u.name} #{u.surname}", u.id]},
            { prompt: 'Select owner' }, class: "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-2 money_fields" id='booking_id'>
      <%= form.label :booking_id %>
      <%= form.select :booking_id,
            Booking.where('paid = ? OR id = ?', false, transaction.booking_id).all.order(:start).map {|b| ["#{b.house.code} #{b.start.strftime('%d.%m.%Y')} - #{b.finish.strftime('%d.%m.%Y')}", b.id]},
                      { include_blank: 'Select booking' }, class: "form-control" %>
    </div>
    <div class="col-md-2 money_fields", id='de_ow', style='display:none;'>
      <%= form.label :de_ow, id: 'de_ow_label' %>
      <%= form.number_field :de_ow, step: 0.01, placeholder: 0,
        class: "form-control", value: @de_ow %>
    </div>
    <div class="col-md-2 money_fields", id='cr_ow', style='display:none;'>
      <%= form.label :cr_ow, id: 'cr_ow_label' %>
      <%= form.number_field :cr_ow, step: 0.01, placeholder: 0,
        class: "form-control", value: @cr_ow %>
    </div>
    <div class="col-md-2 money_fields", id='cr_co', style='display:none;'>
      <%= form.label :cr_co, id: 'cr_co_label' %>
      <%= form.number_field :cr_co, step: 0.01, placeholder: 0,
        class: "form-control", value: @cr_co %>
    </div>
    <div class="col-md-2 money_fields", id='de_co', style='display:none;'>
      <%= form.label :de_co, id: 'de_co_label' %>
      <%= form.number_field :de_co, step: 0.01, placeholder: 0,
        class: "form-control", value: @de_co %>
    </div>
  </div>

  <div class="form-check money_fields mt-2 mb-1" id='check_booking_paid'>
    <% booking_paid = transaction.booking.paid if transaction.booking_id %>
    <%= check_box_tag :booking_fully_paid, true, booking_paid, class: 'form-check-input' %>
    <%= label_tag 'booking_fully_paid',nil, class: "form-check-label" %>
  </div>

  <div class="field" id='comment_en'>
    <%= form.label :comment_en %>
    <%= form.text_field :comment_en, class: "form-control" %>
  </div>

  <div class="field" id='comment_ru'>
    <%= form.label :comment_ru %>
    <%= form.text_field :comment_ru, class: "form-control" %>
  </div>

  <div class="field" id='comment_inner'>
    <%= form.label :comment_inner %>
    <%= form.text_field :comment_inner, class: "form-control" %>
  </div>

  <div class="field" id='ref_no'>
    <%= form.label :ref_no %>
    <%= form.text_field :ref_no, class: "form-control" %>
  </div>

  <div class="form-check">
    <%= form.check_box :hidden, class: 'form-check-input' %>
    <%= form.label :hidden, class: "form-check-label" %>
  </div>

  <div class="actions mt-2">
    <%= form.submit 'Save', class: "btn btn-primary" %>
    <%= link_to 'Back', transactions_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
