<%= form_with(model: transaction, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="form-row">
    <div class="col-md-2">
      <%= form.label :date %>
      <%= form.date_field :date, value: Time.now.strftime('%Y-%m-%d'), class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <%= form.label :type_id %>
      <%= form.select :type_id,
            TransactionType.all.map {|t| [t.name_en, t.id]},
                      { prompt: 'Select transaction type' }, class: "form-control", id: 'trsc_type' %>
    </div>
    <div class="col-md-2" id='house_id'>
      <%= form.label :house_id %>
      <%= form.select :house_id,
            House.all.map {|h| [h.code, h.id]},
                      { prompt: 'Select house' }, class: "form-control" %>
    </div>
    <div class="col-md-2" id='owner_id'>
      <%= form.label :user_id %>
      <%= form.select :user_id,
            User.with_role(['Owner']).map {|u| [u.name, u.id]},
            { prompt: 'Select owner' }, class: "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-2 money_fields", id='de_ow', style='display:none;'>
      <%= form.label :de_ow, id: 'de_ow_label' %>
      <%= form.number_field :de_ow, step: 0.01, placeholder: 0,
        class: "form-control" %>
    </div>
    <div class="col-md-2 money_fields", id='cr_ow', style='display:none;'>
      <%= form.label :cr_ow, id: 'cr_ow_label' %>
      <%= form.number_field :cr_ow, step: 0.01, placeholder: 0,
        class: "form-control" %>
    </div>
    <div class="col-md-2 money_fields", id='cr_co', style='display:none;'>
      <%= form.label :cr_co, id: 'cr_co_label' %>
      <%= form.number_field :cr_co, step: 0.01, placeholder: 0,
        class: "form-control" %>
    </div>
    <div class="col-md-2 money_fields", id='de_co', style='display:none;'>
      <%= form.label :de_co, id: 'de_co_label' %>
      <%= form.number_field :de_co, step: 0.01, placeholder: 0,
        class: "form-control" %>
    </div>
  </div>


  <div class="field" id='comment_en'>
    <%= form.label :comment_en %>
    <%= form.text_field :comment_en, class: "form-control" %>
  </div>

  <div class="field" id='comment_ru'>
    <%= form.label :comment_ru %>
    <%= form.text_field :comment_ru, class: "form-control" %>
  </div>

  <div class="field" id='comment_inner'>
    <%= form.label :comment_inner %>
    <%= form.text_field :comment_inner, class: "form-control" %>
  </div>

  <div class="field" id='ref_no'>
    <%= form.label :ref_no %>
    <%= form.text_field :ref_no, class: "form-control" %>
  </div>

  <div class="actions mt-2">
    <%= form.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>
