  <% I18n.with_locale(@locale) do  %>
    <table id="balance_table" class='table table-striped table-bordered table-sm bg-white table-responsive'>
      <thead>
        <tr>
          <th width="70px"><%= t('date_text') %></th>
          <th class="text-right" width="95px"><%= t('debit') %></th>
          <th class="text-right" width="95px"><%= t('credit') %></th>
          <th class="text-right" width="95px"><%= t('balance') %></th>
          <th width="150px"><%= t('type') %></th>
          <% if !one_house %>
            <th width="60px"><%= t('house') %></th>
          <% end %>
          <th><%= t('comment') %></th>
          <% if current_user.role?(['Admin', 'Accounting', 'Manager']) %>
            <th width="90px">Com. inner</th>
            <th>Actions</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% de_ow_sum = 0 %>
        <% cr_ow_sum = 0 %>
        <% de_ow_prev_sum = 0 %>
        <% cr_ow_prev_sum = 0 %>
        <% balance_sum = 0 %>
        <% if transactions_before.any? %>
          <% de_ow_prev_sum = transactions_before.where(for_acc: false).joins(:balance_outs).sum('balance_outs.debit') %>
          <% cr_ow_prev_sum = transactions_before.where(for_acc: false).joins(:balance_outs).sum('balance_outs.credit') %>
          <% balance_sum += de_ow_prev_sum - cr_ow_prev_sum %>
          <tr>
            <td></td>
            <td class="text-right" id="de_ow_prev_sum">
              <%= number_to_currency(de_ow_prev_sum - cr_ow_prev_sum, precision: 2, unit: '') if de_ow_prev_sum > cr_ow_prev_sum %>
            </td>
            <td class="text-right" id="cr_ow_prev_sum">
              <%= number_to_currency(cr_ow_prev_sum - de_ow_prev_sum, precision: 2, unit: '') if cr_ow_prev_sum > de_ow_prev_sum %>
            </td>
            <td class="text-right" id="ow_prev_balance">
                <%= number_to_currency(balance_sum, precision: 2, unit: '') %>
            </td>
            <td></td>
            <% if !one_house %>
              <td></td>
            <% end %>
            <td><%= t('prev_balance') %></td>
            <% if current_user.role?(['Admin', 'Accounting', 'Manager'])%>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
        <% transactions.each do |t| %>
          <% next if t.for_acc %>
          <% de_ow = t.balance_outs.sum(:debit) %>
          <% cr_ow = t.balance_outs.sum(:credit) %>
          <% de_ow_sum += de_ow - cr_ow if de_ow > 0 %>
          <% cr_ow_sum += cr_ow unless de_ow > 0 %>
          <% balance_sum += de_ow - cr_ow %>
          <tr class="trsc_row <%= 'text-muted' if t.hidden %>" id="trsc_<%= t.id %>_row" >
            <td><%= t.date.strftime('%d.%m.%Y') %></td>
            <td class='de_ow_cell text-right'><%= number_to_currency(de_ow - cr_ow, precision: 2, unit: '') if de_ow > 0 %></td>
            <td class='cr_ow_cell text-right'><%= number_to_currency(cr_ow, precision: 2, unit: '') unless de_ow > 0 %></td>
            <td class='balance_sum_cell text-right'><%= number_to_currency(balance_sum, precision: 2, unit: '') %></td>
            <td><%= t.type.send("name_#{@locale}") %></td>
            <% if !one_house %>
              <td><%= t.house.code if t.house %></td>
            <% end %>
            <% locale = t.user.locale || I18n.locale  %>
            <td><%= t.send("comment_#{locale}") %></td>
            <% if current_user.role?(['Admin', 'Accounting', 'Manager'])%>
              <td><%= t.comment_inner %></td>
              <td>
                <% if current_user.role?(['Accounting', 'Manager']) && t.date > (Date.today-30.days).beginning_of_month %>
                  <%= link_to 'Edit', edit_transaction_path(t) %>
                <% end %>
                <% if current_user.role?(['Accounting', 'Manager']) && t.date > Date.today-1.day %>
                  <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
                <% if current_user.role?('Admin') %>
                  <%= link_to 'Edit', edit_transaction_path(t) %>
                  <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <td class='font-weight-bold text-right'><%= t('total') %>:</td>
          <td class="font-weight-bold text-right" id='de_ow_sum'><%= number_to_currency(de_ow_prev_sum + de_ow_sum - @cr_prev_rental, precision: 2, unit: '') %></td>
          <td class="font-weight-bold text-right" id='cr_ow_sum'><%= number_to_currency(cr_ow_prev_sum + cr_ow_sum - @cr_prev_rental, precision: 2, unit: '') %></td>
          <td class="font-weight-bold text-right" id="ow_balance"><%= number_to_currency(de_ow_prev_sum + de_ow_sum - cr_ow_prev_sum - cr_ow_sum, precision: 2, unit: '') %></td>
          <td></td>
          <% if !one_house %>
            <td></td>
          <% end %>
          <td></td>
          <% if current_user.role?(['Admin', 'Accounting', 'Manager'])%>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
    </table>

    <% if @bookings_prepayment > 0 %>
      <%= t('prepaid_bookings') %>:
      <%= number_to_currency(@bookings_prepayment, precision: 2, unit: '') %> <br />
      <strong>
        <%= t('available_balance') %>:
        <%= number_to_currency(de_ow_prev_sum + de_ow_sum - cr_ow_prev_sum - cr_ow_sum - @bookings_prepayment, precision: 2, unit: '') %>
      </strong>
    <% end %>
    <hr />
    <h5><%= t('transactions_by_type') %></h5>
    <table class='table table-striped table-bordered table-sm bg-white table-responsive'>
      <tr>
        <th><%= t('type') %></th>
        <th class="text-right" width="105px"><%= t('debit') %></th>
        <th class="text-right" width="105px"><%= t('credit') %></th>
      </tr>
      <% @transactions_by_cat.each do |t| %>
        <% debit_sum = t.debit_sum || 0 %>
        <% credit_sum = t.credit_sum || 0 %>
        <% if t.type.name_en == 'Rental' %>
          <% debit_sum -= @cr_rental %>
          <% credit_sum -= @cr_rental  %>
        <% end %>
        <tr>
          <td><%= t.type.send("name_#{@locale}") %></td>
          <td class="text-right"><%= number_to_currency(debit_sum, precision: 2, unit: '') if debit_sum > 0 %></td>
          <td class="text-right"><%= number_to_currency(credit_sum, precision: 2, unit: '') if credit_sum > 0 %></td>
        </tr>
      <% end %>
    </table>
  <% end %>





