<div class="d-none d-print-block">
<% owner = User.find(params[:view_user_id]) %>
Balance of: <%= "#{owner.name} #{owner.surname}" %><br />
Address:
<% owner.houses.each do |h| %>
  - <%= h.address %><br />
<% end %>
</div>
<table class='table table-striped table-bordered table-sm bg-white'>
  <thead>
    <tr>
      <th width="55px">Date</th>
      <th width="250px">Ref No</th>
      <th class="text-right" width="90px">Debit</th>
      <th class="text-right" width="90px">Credit</th>
      <th class="text-right" width="90px">Balance</th>
      <th>Comment</th>
      <th class="d-print-none">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% de_ow_sum = 0 %>
    <% cr_ow_sum = 0 %>
    <% de_co_sum = 0 %>
    <% de_ow_hidden_sum = 0 %>
    <% cr_ow_hidden_sum = 0 %>
    <% de_ow_prev_sum = 0 %>
    <% cr_ow_prev_sum = 0 %>
    <% balance_sum = 0 %>
    <% if transactions_before.any? %>
      <% de_ow_prev_sum = transactions_before.where(hidden: false).joins(:balance_outs).sum('balance_outs.debit') %>
      <% cr_ow_prev_sum = transactions_before.where(hidden: false).joins(:balance_outs).sum('balance_outs.credit') %>
      <% balance_sum += de_ow_prev_sum - cr_ow_prev_sum %>
      <tr>
        <td></td>
        <td></td>
        <td class="text-right" id="de_ow_prev_sum">
          <%= number_to_currency(de_ow_prev_sum - cr_ow_prev_sum, precision: 2, unit: '') if de_ow_prev_sum > cr_ow_prev_sum %>
        </td>
        <td class="text-right" id="cr_ow_prev_sum">
          <%= number_to_currency(cr_ow_prev_sum - de_ow_prev_sum, precision: 2, unit: '') if cr_ow_prev_sum > de_ow_prev_sum %>
        </td>
        <td class="text-right" id="ow_prev_balance">
          <%= number_to_currency(balance_sum, precision: 2, unit: '') %>
        </td>
        <td>Balance from previous period</td>
        <td class="d-print-none"></td>
      </tr>
    <% end %>
    <% transactions.each do |t| %>
      <% de_ow = t.balance_outs.sum(:debit) %>
      <% cr_ow = t.balance_outs.sum(:credit) %>
      <% de_co = t.balances.sum(:debit) %>
      <% cr_co = t.balances.sum(:credit) %>
      <% if t.hidden %>
        <% de_ow_hidden_sum += de_ow %>
        <% cr_ow_hidden_sum += cr_ow %>
      <% end %>
      <% cr_ow_personal = cr_ow - de_co  %>
      <% unless t.hidden %>
        <% de_ow_sum += de_ow %>
        <% cr_ow_sum += cr_ow_personal %>
        <% de_co_sum += de_co %>
        <% balance_sum += de_ow - cr_ow_personal %>
      <% end %>
      <% next if (cr_ow - de_co + de_ow ) == 0 %>
      <tr id="trsc_<%= t.id %>_row"
        <%= 'class=hidden_row style=display:none;' if t.hidden %>
        <%= 'class=for_acc_row' if t.for_acc %>
        <%#= 'style=background-color:#FFC300' if t.for_acc %>>
        <td><span style="display:none;"><%= t.date.to_time.to_i %></span><%= t.date.strftime('%d.%m.%Y') %></td>
        <td><small>
          <%= t.ref_no %></small></td>
        <td class='de_ow_cell text-right'>
          <%= number_to_currency(de_ow, precision: 2, unit: '') if de_ow > 0 %>
        </td>
        <td class='cr_ow_cell text-right'>
          <%= number_to_currency(cr_ow_personal, precision: 2, unit: '') if cr_ow_personal > 0 %>
        </td>
        <td class='balance_sum_cell text-right'>
          <%= number_to_currency(balance_sum, precision: 2, unit: '') if !t.hidden %>
        </td>
        <td><%= t.comment_en %></td>
        <td class="d-print-none">
          <% if current_user.role?(['Accounting', 'Manager']) && t.date > (Date.today-30.days).beginning_of_month %>
            <%= link_to 'Edit', edit_transaction_path(t) %>
          <% end %>
          <% if current_user.role?(['Accounting', 'Manager']) && t.date > Date.today-1.day %>
            <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <% if current_user.role?('Admin') %>
            <%= link_to 'Edit', edit_transaction_path(t) %>
            <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% if de_ow > 0 %>
              <%= link_to 'ST', tmp_statement_path(trsc_id: t.id), target: '_blank' %>
              <%= link_to 'RB', tmp_reimbersment_path(trsc_id: t.id), target: '_blank' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if de_co_sum > 0 %>
      <% cr_ow_sum += de_co_sum %>
      <tr>
        <td><%= @to.to_date.strftime('%d.%m.%Y') %></td>
        <td>
          <small>
            <% ref_no = transactions.joins(:balances).where('balances.debit > 0').pluck('balances.ref_no').uniq.join(', ') %>
            <% ref_no = transactions.joins(:balance_outs).where('balance_outs.credit > 0').pluck('balance_outs.ref_no').uniq.join(', ') if ref_no.empty? %>
            <%= ref_no %>
          </small>
        </td>
        <td></td>
        <td class='text-right' id='company_maintenance'><%= number_to_currency(de_co_sum, precision: 2, unit: '') %></td>
        <td class='balance_sum_cell text-right'><%= number_to_currency(balance_sum - de_co_sum, precision: 2, unit: '') %></td>
        <td>Maintenance</td>
        <td class="d-print-none">
          <% if @from.to_date.month == @to.to_date.month %>
            <%= link_to 'Invoice', transactions_docs_path(
              type: 'invoice', from: @from, to: @to, view_user_id: @view_user_id), target: '_blank' %>
            <%= link_to 'Receipt', transactions_docs_path(
              type: 'receipt', from: @from, to: @to, view_user_id: @view_user_id), target: '_blank' %>
          <% else %>
            <span class="text-muted">Invoice</span>
            <span class="text-muted">Receipt</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr class="d-print-none">
      <td></td>
      <td class='font-weight-bold text-right d-print-none'>Total:</td>
      <td class="font-weight-bold text-right d-print-none">
        <div id='de_ow_sum'>
          <%= number_to_currency(de_ow_prev_sum + de_ow_sum, precision: 2, unit: '') %>
        </div>
        <% if de_ow_hidden_sum > 0 %>
          <div class="text-muted" id='de_ow_hidden_sum'>
            <%= number_to_currency(de_ow_hidden_sum, precision: 2, unit: '') %>
          </div>
          <div class="text-muted" id='de_ow_sum_and_hidden'>
            <%= number_to_currency(de_ow_prev_sum + de_ow_sum + de_ow_hidden_sum, precision: 2, unit: '') %>
          </div>
        <% end %>
      </td>
      <td class="font-weight-bold text-right d-print-none">
        <div id='cr_ow_sum'>
          <%= number_to_currency(cr_ow_prev_sum + cr_ow_sum, precision: 2, unit: '') %>
        </div>
        <% if cr_ow_hidden_sum > 0 %>
          <div class="text-muted" id='cr_ow_hidden_sum'>
            <%= number_to_currency(cr_ow_hidden_sum, precision: 2, unit: '') %>
          </div>
          <div class="text-muted" id='cr_ow_sum_and_hidden'>
            <%= number_to_currency(cr_ow_prev_sum + cr_ow_sum + cr_ow_hidden_sum, precision: 2, unit: '') %>
          </div>
        <% end %>
      </td>
      <td class="font-weight-bold text-right d-print-none">
        <div id="ow_balance">
          <%= number_to_currency(de_ow_prev_sum + de_ow_sum - cr_ow_prev_sum - cr_ow_sum, precision: 2, unit: '') %>
        </div>
        <% if de_ow_hidden_sum > 0 || cr_ow_hidden_sum > 0 %>
          <div class="text-muted" id="ow_hidden_balance d-print-none">
            <%= number_to_currency(de_ow_hidden_sum - cr_ow_hidden_sum, precision: 2, unit: '') %>
          </div>
          <div class="text-muted d-print-none" id="ow_balance_and_hidden">
            <%= number_to_currency((de_ow_prev_sum + de_ow_sum + de_ow_hidden_sum) - (cr_ow_prev_sum + cr_ow_sum + cr_ow_hidden_sum), precision: 2, unit: '') %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td>
        <% if de_ow_hidden_sum > 0 || cr_ow_hidden_sum > 0 %>
          <%= link_to 'Show hidden', '#', id: 'link_show_hidden', class: 'text-muted d-print-none' %>
        <% end %>
      </td>
    </tr>
  </tfoot>
</table>
<% disabled = false %>
<% if @from.to_date.month != @to.to_date.month %>
  <% disabled = true %>
<% end %>
<%= form_with(url: update_invoice_ref_path, local: false, class: 'form-inline d-print-none') do |f| %>
  <%= text_field_tag 'ref_no', nil, class: 'form-control mr-2 w-50', placeholder: 'Ref no.', disabled: disabled %>
  <%= f.submit 'Save', class: 'btn btn-primary', disabled: disabled %>
<% end %>
<%= link_to 'ST', tmp_statement_path(owner_id: owner.id), target: '_blank', class: 'd-print-none' %>
