<% if current_user.role?(['Owner']) %>
  <h1><%= t('balance') %></h1>
  <%= form_with(url: balance_front_path, method: :get, local: true, class: 'd-print-none') do |form| %>
    <div class="form-row mb-2">
      <div class="col-6 col-lg-2">
        <%= date_field_tag :from, {}, value: @from, class: "form-control" %>
      </div>
      <div class="col-6 col-lg-2">
        <%= date_field_tag :to, {}, value: @to, class: "form-control mb-2 mr-md-2" %>
      </div>
      <div class="col-6 col-lg-2">
        <% options = options_for_select([['All', '']] + @houses.map{ |h| ["#{h.code}", h.id] } + [['Unlinked', 'unlinked']], @house_id) %>
        <%= form.select :house_id,
              options,
                        {}, { class: "form-control"} %>
      </div>
      <div class="form-row col-12 col-lg-4 mt-2 mt-lg-0">
        <div class="col-6">
          <%#= hidden_field_tag :owner_id, @owner.id %>
          <%= submit_tag t('show'), class: "btn btn-primary btn-block" %>
        </div>
        <div class="col-6">
          <%= link_to 'Export to CSV', transactions_path(:params => request.params, :format => :csv),
                  class: 'btn btn-info btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @error %>
    <div class="alert alert-warning" role="alert">
      <%= @error %>
    </div>
  <% else %>
    <%= render 'owner_view', {transactions: @transactions, transactions_before: @transactions_before, one_house: @one_house} %>
  <% end %>
<% elsif current_user.role?(['Admin', 'Accounting', 'Manager']) %>
  <h1>
    Balance
    <%= 'company' if @view == 'company' %>
    <%= sanitize '<span class="d-print-none">accounting</span>' if @type == 'acc' %>
    <%= 'owner' if @view == 'owner' %>
    <%= sanitize '<span class="d-print-none">accounting</span>' if @view == 'accounting' %>
  </h1>
  <h5>
    <% if @owner_id.present? %>
      <% u = User.find(@owner_id) %>
      <%= "Owner: #{u.code} (#{u.name} #{u.surname})" %>
      <% if @house_id.present? && (@house_id.to_i > 0)  %>
        <%= "/ House: #{House.find(@house_id).code}" %>
      <% end %>
    <% end %>
  </h5>
  <div class="mb-2 d-print-none">
    <%= form_with(url: transactions_path, method: :get, local: true) do |form| %>
      <div class="form-row">
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <%= date_field_tag :from, {}, value: @from, class: "form-control" %>
        </div>
        <div class="col-6 col-lg-2">
          <%= date_field_tag :to, {}, value: @to, class: "form-control" %>
        </div>
        <div class="col-6 col-lg-2">
          <div class="dropdown balance_of">
            <%= text_field_tag :balance_of,
                @owner_id.present? ? "#{@owner[:name]} #{@owner[:surname]}" : 'Company',
                class:"form-control dropdown-toggle mb-2 mr-sm-2",
                placeholder: "Enter house code",
                autocomplete: "off",
                data: { toggle: 'dropdown', display: "static" } %>
            <div class="dropdown-menu" aria-labelledby="balance_of">
              <a class="dropdown-item" href="#" data-owner-name="Company">Company</a>
              <% @owners.each do |o| %>
                <a class="dropdown-item" href="#"
                                        data-owner-id="<%= o[:owner_id] %>"
                                        data-owner-name="<%= "#{o[:owner_name]} #{o[:owner_surname]}" %>"
                                        ><%= "#{o[:house_code]} (#{o[:owner_name]} #{o[:owner_surname]}) #{o[:house_maintenance] ? 'M' : ''}" %></a>
              <% end %>
            </div>
          </div>
        </div>
        <% if @view != 'accounting' %>
          <div class="col-6 col-lg-2">
            <% options = options_for_select([['All', '']] + @houses.map{ |h| ["#{h.code}", h.id] } + [['Unlinked', 'unlinked']], @house_id) %>
            <%= form.select :house_id,
                options,
                          {}, { class: "form-control", style: @houses_count > 1 ? '' : "display: none;"} %>
          </div>
        <% end %>
        <%= hidden_field_tag :owner_id, @owner_id %>
        <%#= hidden_field_tag :house_id, @house_id %>
      </div>
      <div class="form-row">
        <div class="col-4 col-lg-2 p-1">
          <%= form.submit 'Full',
                class: "btn btn-primary btn-sm btn-block",
                id: 'btn_white' %>
        </div>
        <div class="col-4 col-lg-2 p-1">
          <%= form.submit 'Acc',
                class: "btn btn-primary btn-sm btn-block",
                id: 'btn_acc' %>
        </div>
        <div class="col-4 col-lg-2 p-1">
          <% if !@owner_id %>
            <%= link_to "Add", new_transaction_path,
                class: 'btn btn-success btn-sm btn-block',
                data: { "controller": "hotkey", "hotkeys": "Shift + a" } %>
          <% else %>
            <%= link_to 'Add', new_transaction_path( user_id: @owner_id, house_id: @house_id),
                class: 'btn btn-success btn-sm btn-block',
                data: { "controller": "hotkey", "hotkeys": "Shift + a" } %>
          <% end %>
        </div>
        <% if params[:owner_id].present? %>
          <div class="col-4 col-lg-2 p-1">
            <%= link_to 'Export to CSV', transactions_path(:params => request.params, :format => :csv),
                  class: 'btn btn-info btn-sm btn-block' %>
          </div>
        <% end %>
        <div class="mt-2 mr-1 d-flex align-items-center justify-content-end flex-grow-1">
          <span class="text-secondary">Hotkeys:
            <kbd class="text-secondary bg-white">Shift</kbd> + <kbd class="text-secondary bg-white">a</kbd>
            to Add
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <% if @error %>
    <div class="alert alert-warning" role="alert">
      <%= @error %>
    </div>
  <% else %>
    <% if @warnings %>
      <% @warnings.each do |w| %>
        <div class="alert alert-warning warning" role="alert">
          <%= w %>
        </div>
      <% end %>
    <% end %>
    <% if @view == 'company' %>
      <%= render 'company_view', transactions: @transactions, transactions_before: @transactions_before %>
    <% elsif @view == 'owner' %>
      <%= render 'owner_view', transactions: @transactions, transactions_before: @transactions_before, one_house: @one_house %>
    <% elsif @view == 'accounting' %>
      <%= render 'owner_accounting_view', transactions: @transactions, transactions_before: @transactions_before %>
    <% end %>
  <% end %>
<% end %>
