<% if current_user.role?(['Owner']) %>
  <h1><%= t('balance') %></h1>

  <%= form_with(url: balance_front_path, method: :get, local: true, class: 'd-print-none') do |form| %>
    <div class="form-row">
      <div class="col-6 col-lg-2 mb-1 mb-lg-0">
        <%= date_field_tag :from, {}, value: @from, class: "form-control" %>
      </div>
      <div class="col-6 col-lg-2 mb-1 mb-lg-0">
        <%= date_field_tag :to, {}, value: @to, class: "form-control mb-2 mr-md-2" %>
      </div>
        <div class="col-lg-2 mb-1 mb-lg-0">
          <div class="dropdown for_house">
            <%= text_field_tag :for_house,
                !@houses.empty? && @house_id ? @houses.where(id: @house_id).first[:code] : t('all_houses'),
                class:"form-control dropdown-toggle mb-2 mr-sm-2",
                placeholder: t('select_house'),
                autocomplete: "off",
                data: { toggle: 'dropdown', display: "static" },
                disabled: @houses.length <= 1 %>
            <div class="dropdown-menu" aria-labelledby="for_house">
              <a class="dropdown-item" href="#"><%= t('all_houses') %></a>
              <% if @houses %>
              <% @houses.each do |h| %>
              <a class="dropdown-item" href="#"
                                        data-house-id="<%= h[:id] %>"
                                        ><%= h[:code] %></a>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <%= hidden_field_tag :owner_id, @owner.id %>
        <%= hidden_field_tag :house_id, @house_id %>
        <%= submit_tag t('show'), class: "btn btn-primary mb-2 mr-2" %>
    </div>
  <% end %>

  <% if @error %>
    <div class="alert alert-warning" role="alert">
      <%= @error %>
    </div>
  <% else %>
    <%= render 'owner_view', {transactions: @transactions, transactions_before: @transactions_before, one_house: @one_house} %>
  <% end %>
<% elsif current_user.role?(['Admin', 'Accounting', 'Manager']) %>
  <h1>
    Balance
    <%= 'company' if @view == 'company' %>
    <%= sanitize '<span class="d-print-none">accounting</span>' if @type == 'acc' %>
    <%= 'owner' if @view == 'owner' %>
    <%= sanitize '<span class="d-print-none">accounting</span>' if @view == 'accounting' %>
    <% if @owner_id.present? %>
      <% owner = User.find(@owner_id) %>
      (<%= owner.code.present? ? owner.code : owner.houses.first.code %>)
    <% end %>
  </h1>

  <div class="mb-2 d-print-none">
    <%= form_with(url: transactions_path, method: :get, local: true) do |form| %>
      <div class="form-row">
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <%= date_field_tag :from, {}, value: @from, class: "form-control" %>
        </div>
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <%= date_field_tag :to, {}, value: @to, class: "form-control" %>
        </div>
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <div class="dropdown balance_of">
            <%= text_field_tag :balance_of,
                @owner_id.present? ? "#{@owner[:name]} #{@owner[:surname]}" : 'Company',
                class:"form-control dropdown-toggle mb-2 mr-sm-2",
                placeholder: "Enter house code",
                autocomplete: "off",
                data: { toggle: 'dropdown', display: "static" } %>
            <div class="dropdown-menu" aria-labelledby="balance_of">
              <a class="dropdown-item" href="#" data-owner-name="Company">Company</a>
              <% @owners.each do |o| %>
              <a class="dropdown-item" href="#"
                                        data-owner-id="<%= o[:owner_id] %>"
                                        data-owner-name="<%= "#{o[:owner_name]} #{o[:owner_surname]}" %>"
                                        ><%= "#{o[:house_code]} (#{o[:owner_name]} #{o[:owner_surname]}) #{o[:house_maintenance] ? 'M' : ''}" %></a>
              <% end %>
            </div>
          </div>
        </div>
        <% if @view != 'accounting' %>
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <div class="dropdown for_house">
            <%= text_field_tag :for_house,
                !@houses.empty? && @house_id ? @houses.where(id: @house_id).first[:code] : 'All',
                class:"form-control dropdown-toggle mb-2 mr-sm-2",
                placeholder: "Select house",
                autocomplete: "off",
                data: { toggle: 'dropdown', display: "static" },
                disabled: @houses.length <= 1 %>
            <div class="dropdown-menu" aria-labelledby="for_house">
              <a class="dropdown-item" href="#">All</a>
              <% if @houses %>
              <% @houses.each do |h| %>
              <a class="dropdown-item" href="#"
                                        data-house-id="<%= h[:id] %>"
                                        ><%= h[:code] %></a>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
        <%= hidden_field_tag :owner_id, @owner_id %>
        <%= hidden_field_tag :house_id, @house_id %>
      </div>
      <!-- <div class="form-row">
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <%= form.submit 'Company view',
                class: "btn btn-primary btn-sm btn-block",
                id: 'btn_company_view' %>
        </div>
        <div class="col-6  col-lg-2 mb-1 mb-lg-0">
          <%= form.submit 'Owner view',
                class: "btn btn-primary btn-sm btn-block",
                id: 'btn_owner_view',
                disabled: true %>
        </div>
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <%= form.submit 'Accounting view',
                class: "btn btn-primary btn-sm btn-block",
                id: 'btn_owner_accounting_view',
                disabled: true %>
        </div>
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <% if !@owner_id %>
            <%= link_to 'New Transaction', new_transaction_path,
                  class: 'btn btn-info btn-sm btn-block' %>
          <% else %>
            <%= link_to 'New Transaction',
                  new_transaction_path(
                    user_id: @owner_id,
                    house_id: @house_id),
                  class: 'btn btn-info btn-sm btn-block' %>
          <% end %>
        </div>
      </div> -->
      <div class="form-row">
        <div class="col-4 col-lg-2 mb-1 mb-lg-0">
          <%= form.submit 'Full',
                class: "btn btn-primary btn-sm btn-block",
                id: 'btn_white' %>
        </div>
        <div class="col-4 col-lg-2 mb-1 mb-lg-0">
          <%= form.submit 'Acc',
                class: "btn btn-primary btn-sm btn-block",
                id: 'btn_acc' %>
        </div>
        <div class="col-4 col-lg-2 mb-1 mb-lg-0">
          <% if !@owner_id %>
            <%= link_to 'Add', new_transaction_path,
                  class: 'btn btn-info btn-sm btn-block' %>
          <% else %>
            <%= link_to 'Add',
                  new_transaction_path(
                    user_id: @owner_id,
                    house_id: @house_id),
                  class: 'btn btn-info btn-sm btn-block' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @error %>
    <div class="alert alert-warning" role="alert">
      <%= @error %>
    </div>
  <% else %>
    <% if @warnings %>
    <% @warnings.each do |w| %>
      <div class="alert alert-warning warning" role="alert">
        <%= w %>
      </div>
    <% end %>
    <% end %>

    <% if @view == 'company' %>
      <%= render 'company_view', transactions: @transactions, transactions_before: @transactions_before %>
    <% elsif @view == 'owner' %>
      <%= render 'owner_view', transactions: @transactions, transactions_before: @transactions_before, one_house: @one_house %>
    <% elsif @view == 'accounting' %>
      <%= render 'owner_accounting_view', transactions: @transactions, transactions_before: @transactions_before %>
    <% end %>
  <% end %>
<% end %>
