<% if current_user.role?(['Owner']) %>
  <h1><%= t('balance') %></h1>

  <%= form_with(url: balance_front_path, method: :get, local: true, class: 'form-inline d-print-none') do |form| %>
        <%= date_field_tag :from, {}, value: @from, class: "form-control mb-2 mr-md-2" %>
        <%= date_field_tag :to, {}, value: @to, class: "form-control mb-2 mr-md-2" %>
        <%= submit_tag t('show'), class: "btn btn-primary mb-2 mr-2" %>
        <%= link_to t('drop_filter'), balance_front_path, class: 'btn btn-secondary mb-2 mr-md-2'  %>
  <% end %>

  <% if @error %>
    <div class="alert alert-warning" role="alert">
      <%= @error %>
    </div>
  <% else %>
    <%= render 'owner_view', {transactions: @transactions, transactions_before: @transactions_before, one_house: @one_house} %>
  <% end %>
<% elsif current_user.role?(['Admin', 'Accounting', 'Manager']) %>
  <h1>
    Balance
    <%= 'company view' if @view == 'company' %>
    <%= 'owner view' if @view == 'owner' %>
    <%= sanitize '<span class="d-print-none">accounting view</span>' if @view == 'accounting' %>
    <% if @view_user_id.present? %>
      <% owner = User.find(@view_user_id) %>
      (<%= owner.code.present? ? owner.code : owner.houses.first.code %>)
    <% end %>
  </h1>

  <div class="mb-2 d-print-none">
    <%= form_with(url: transactions_path, method: :get, local: true) do |form| %>
      <div class="form-row">
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <%= date_field_tag :from, {}, value: @from, class: "form-control" %>
        </div>
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <%= date_field_tag :to, {}, value: @to, class: "form-control" %>
        </div>
        <%#= form.select :view_user_id,
              House.where.not(balance_closed: true).order(:code).map {|h| ["#{h.code} (#{h.owner.name} #{h.owner.surname})", h.owner.id]},
              { include_blank: 'Company', selected: @view_user_id },
              class: "form-control mb-2 mr-sm-2" %>
        <div class="col-lg-4 mb-1 mb-lg-0">
          <div class="dropdown">
            <%= text_field_tag :view_house,
                @view_house_id.present? ? @houses_for_select[@view_house_id][:text] : nil,
                class:"form-control dropdown-toggle mb-2 mr-sm-2",
                placeholder: "Enter house code",
                autocomplete: "off",
                data: { toggle: 'dropdown', display: "static" } %>
            <div class="dropdown-menu" aria-labelledby="view_house">
              <a class="dropdown-item" href="#">All</a>
              <% @houses_for_select.each do |house_id,h| %>
              <a class="dropdown-item" href="#"
                                        data-house-id="<%= house_id %>"
                                        data-user-id="<%= h[:user_id] %>"
                                        ><%= h[:text] %></a>
              <% end %>
            </div>
          </div>
        </div>
        <%= hidden_field_tag :view_user_id, @view_user_id %>
        <%= hidden_field_tag :view_house_id, @view_house_id %>
      </div>
      <div class="form-row">
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <%= form.submit 'Company view',
                class: "btn btn-primary btn-sm btn-block",
                id: 'btn_company_view' %>
        </div>
        <div class="col-6  col-lg-2 mb-1 mb-lg-0">
          <%= form.submit 'Owner view',
                class: "btn btn-primary btn-sm btn-block",
                id: 'btn_owner_view',
                disabled: true %>
        </div>
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <%= form.submit 'Accounting view',
                class: "btn btn-primary btn-sm btn-block",
                id: 'btn_owner_accounting_view',
                disabled: true %>
        </div>
        <div class="col-6 col-lg-2 mb-1 mb-lg-0">
          <% if !@view_user_id %>
            <%= link_to 'New Transaction', new_transaction_path,
                  class: 'btn btn-info btn-sm btn-block' %>
          <% else %>
            <%= link_to 'New Transaction',
                  new_transaction_path(
                    user_id: @view_user_id,
                    house_id: @view_house_id),
                  class: 'btn btn-info btn-sm btn-block' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @error %>
    <div class="alert alert-warning" role="alert">
      <%= @error %>
    </div>
  <% else %>
    <% if @warnings %>
    <% @warnings.each do |w| %>
      <div class="alert alert-warning warning" role="alert">
        <%= w %>
      </div>
    <% end %>
    <% end %>

    <% if @view == 'company' %>
      <%= render 'company_view', transactions: @transactions, transactions_before: @transactions_before %>
    <% elsif @view == 'owner' %>
      <%= render 'owner_view', transactions: @transactions, transactions_before: @transactions_before, one_house: @one_house %>
    <% elsif @view == 'accounting' %>
      <%= render 'owner_accounting_view', transactions: @transactions, transactions_before: @transactions_before %>
    <% end %>
  <% end %>
<% end %>
