<h1>Logs</h1>
<table class="table">
  <tr>
    <th width="135px">Date</th>
    <th width="150px">User email</th>
    <th width="100px">User roles</th>
    <th width="135px">Controller and action</th>
    <th width="100px">Model GID</th>
    <th>Before</th>
    <th>Applied changes</th>
  </tr>
  <% @logs.each do |l| %>
    <tr>
      <td><%= l.created_at.in_time_zone('Bangkok').strftime('%d.%m.%Y %H:%M') %></td>
      <td><%= l.user_email %></td>
      <td><%= format_roles(l.user_roles) %></td>
      <td><%= l.location %></td>
      <td><%= l.model_gid %></td>
      <td><%= format_logs(l.before) %></td>
      <td><%= format_logs(l.applied_changes) %></td>
    </tr>
  <% end %>
</table>
