<h1>Logs</h1>
<table class="table">
  <tr>
    <th width="135px">Date</th>
    <th width="150px">User</th>
    <th width="135px">Controller</th>
    <th width="100px">What</th>
    <th width="100px">With</th>
    <th>Before</th>
    <th>After</th>
  </tr>
  <% @logs.each do |l| %>
    <tr>
      <td><%= l.who %></td>
      <td><%= l.where %></td>
      <td><%= l.what %></td>
      <td><%= l.with %></td>
      <td><%= l.before %></td>
      <td><%= l.after %></td>
    </tr>
  <% end %>
</table>
