<h1>Salary</h1>
<%= form_with(url: report_salary_path, method: :get, local: true) do |f| %>
  <div class="form-row">
    <div class="col-6 col-lg-2 mb-1 mb-lg-0">
      <%= date_field_tag :from, {}, value: @from, class: "form-control" %>
    </div>
    <div class="col-6 col-lg-2 mb-1 mb-lg-0">
      <%= date_field_tag :to, {}, value: @to, class: "form-control mb-2 mr-md-2" %>
    </div>
    <%= submit_tag t('show'), class: "btn btn-primary mb-2 mr-2" %>
  </div>
<% end %>
<table class='table table-bordered bg-white'>
  <tr align='center'>
    <th>Date</th>
    <th>Booking</th>
    <th>Company</th>
    <th>Manager</th>
  </tr>
  <% total = 0 %>
  <% @ts.each do |t| %>
    <tr>
      <td><%= t.date.to_fs(:date) %></td>
      <td><%= "#{t.house_code} #{t.booking_start.to_fs(:date)}-#{t.booking_finish.to_fs(:date)}" %></td>
      <td align='right'><%= number_to_currency(t.income, precision: 0, unit: '') %></td>
      <td align='right'><%= number_to_currency(comm = t.income*0.3, precision: 0, unit: '') %> (<%= (comm/t.income*100).round %>%)</td>
      <% total += t.income %>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td align='right'><strong>Total:</strong></td>
    <td align='right'><strong><%= number_to_currency(total, precision: 0, unit: '') %></strong></td>
    <td align='right'><strong><%= number_to_currency(total*0.3, precision: 0, unit: '') %></strong></td>
  </tr>
</table>
