<li class="list-group-item booking_file" id="<%= dom_id(booking_file) %>">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= booking_file.name %></h5>
    <small><%= booking_file.user.name %> <%= booking_file.created_at.to_fs(:date_with_time) %></small>
  </div>
  <% if !booking_file.comment.empty? %>
    <p><%= booking_file.comment %></p>
  <% end %>
  <div class='text-right'>
    <% content_type = booking_file.data.attachment.content_type %>
    <% if content_type == 'application/pdf' %>
      <% file_type = 'pdf' %>
    <% else %>
      <% file_type = 'image' %>
    <% end %>
    <%= link_to 'View', "#",  data: {
                                  link_to_file: rails_blob_path(booking_file.data),
                                  file_type: file_type }  %> |
    <%= link_to 'Print', "#", data: {
                                  print: rails_blob_path(booking_file.data),
                                  type: file_type} %> |
    <%= link_to 'Delete', booking_file_path(id: booking_file.id), data: { confirm: 'Are you sure?', turbo_method: :delete} %>
  </div>
</li>
