<%= turbo_frame_tag "new_booking_file" do %>
  <%= form_with(model: booking_file, data: {controller: :form, remote: false, turbo_stream: true}) do |f| %>
    <% if booking_file.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(booking_file.errors.count, "error") %> prohibited this booking file from being saved:</h2>
        <ul>
          <% booking_file.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="input-group">
      <%= f.text_field :name, class: "form-control", placeholder: 'File name', required: true %>
      <div class="input-group-append">
        <button class="btn btn-success" type="button" onclick="document.getElementById('fileupload_booking').click();">Browse</button>
      </div>
    </div>
    <div class="form-group mt-2">
      <%= f.text_area :comment, class: "form-control", rows: 3, placeholder: 'Comment to file'  %>
    </div>
    <div class="form-group">
      <div class="text-left">
        <%= f.file_field :data, id: "fileupload_booking", style: 'display: none;'%>
      </div>
      <div class="text-right">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>
