<nav class="navbar navbar-expand-md admin-menu-links mt-0 mb-0 pt-0 pb-0">
  <div class="collapse navbar-collapse" id="admin-nav">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <%= link_to 'Bookings', bookings_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Houses', houses_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Owners', users_path(role: 'Owner'), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Tenants', users_path(role: 'Tenant'), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sources', sources_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <% if current_user.role? :admin %>
          <%= link_to 'Management', users_path(role: ['Admin', 'Manager']), class: "nav-link" %>
        <% end %>
        <%= link_to 'Sign out', destroy_user_session_path, { method: :delete, class: "nav-link" } %>

      </li>
    </ul>
  </div>
</nav>

