<nav class="navbar fixed-top navbar-expand-lg navbar-admin navbar-dark">
  <%= image_tag_s3("logo.png", { width: 30, class: "navbar-brand mb-0 h1 d-inline-block align-top"}) %>
  <div class="">
    <%= link_to t('menu.dashboard'), dashboard_path, id: "logo_text", class: "navbar-brand h1 p-0 my-0" %>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "return to website", guests_locale_root_path( locale: root_locale ), class: "small font-weight-light nav-link p-0" %>
      </li>
    </ul>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <% if signed_in? && current_user.role?(['Accounting', 'Admin', 'Manager']) %>
        <li class="nav-item">
          <%= link_to t('menu.dashboard'), dashboard_path, class: "nav-link #{active_link(dashboard_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Accounting', 'Admin', 'Manager']) %>
        <li class="nav-item">
          <%= link_to t('menu.search'), search_path, class: "nav-link #{active_link(search_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Admin', 'Guest relation', 'Manager', 'Accounting']) %>
        <li class="nav-item">
          <%= link_to 'Jobs', jobs_path, class: "nav-link #{active_link(jobs_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Admin', 'Manager', 'Accounting']) %>
        <li class="nav-item">
          <%= link_to 'Timeline', timeline_bookings_path(period: 45), class: "nav-link #{active_link(timeline_bookings_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Guest relation']) %>
        <li class="nav-item">
          <%= link_to 'Bookings', timeline_bookings_path(period: 45), class: "nav-link #{active_link(timeline_bookings_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Owner']) %>
        <li class="nav-item">
          <%= link_to t('bookings'), bookings_front_path, class: "nav-link #{active_link(bookings_front_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Admin', 'Guest relation', 'Manager']) %>
        <li class="nav-item">
          <%= link_to 'Check in/out', check_in_out_bookings_path, class: "nav-link #{active_link(check_in_out_bookings_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Admin', 'Manager', 'Accounting']) %>
        <li class="nav-item">
          <%= link_to 'Houses', admin_houses_path, class: "nav-link #{active_link(admin_houses_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Admin', 'Guest relation', 'Manager', 'Accounting']) %>
        <li class="nav-item">
          <%= link_to 'Bookings', bookings_path, class: "nav-link #{active_link(bookings_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Accounting', 'Admin', 'Manager']) %>
        <li class="nav-item">
          <%= link_to 'Balance', transactions_path, class: "nav-link #{active_link(transactions_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Admin', 'Manager']) %>
        <li class="nav-item">
          <%= link_to 'Reports', reports_path, class: "nav-link #{active_link(reports_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Admin', 'Gardener', 'Manager']) %>
        <li class="nav-item">
          <%= link_to 'Water', water_usages_path, class: "nav-link #{active_link(water_usages_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Manager']) %>
        <li class="nav-item">
          <%= link_to 'Sources', sources_path, class: "nav-link #{active_link(sources_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Owner']) %>
        <li class="nav-item">
          <%= link_to t('balance'), balance_front_path, class: "nav-link #{active_link(balance_front_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Admin']) %>
        <li class="nav-item">
          <%= link_to 'Users', users_path, class: "nav-link #{active_link(users_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Admin']) %>
        <li class="nav-item">
          <%= link_to 'Trsc types', transaction_types_path, class: "nav-link #{active_link(transaction_types_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Admin']) %>
        <li class="nav-item">
          <%= link_to 'House groups', house_groups_path, class: "nav-link #{active_link(house_groups_path)}" %>
        </li>
      <% end %>
      <% if signed_in? && current_user.role?(['Admin']) %>
        <li class="nav-item">
          <%= link_to 'Settings', settings_path, class: "nav-link #{active_link(settings_path)}" %>
        </li>
      <% end %>
    </ul>
    <% if signed_in? && current_user.role?(['owner']) %>
      <div class="d-none d-lg-block text-light">
        <%= t('app.tagline') %> |
        <%= link_to t('app.reservation_phone'),
          "tel:#{t('app.reservation_phone')}", class: "text-light" %> |
        <%= mail_to t('app.reservation_email'), class: "text-light" %>
      </div>
    <% elsif signed_in? %>
      <span class="navbar-text">
        <%= current_user.name %>
      </span>
    <% else %>
      <div class="d-none d-lg-block text-light">
        <%= t('app.tagline') %> |
        <%= link_to t('app.reservation_phone'),
          "tel:#{t('app.phone')}", class: "text-light" %> |
        <%= mail_to t('app.email'), class: "text-light" %>
      </div>
    <% end %>
    <div class="navbar-nav nav-item">
      <%= link_to t('menu.log_out'), destroy_user_session_path, { method: :delete, class: "nav-link" } %>
    </div>
  </div>
</nav>
