<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <%= link_to image_tag_s3("logo.png", { width: 30, class: "d-inline-block align-top"}), guests_locale_root_path( locale: root_locale ), id: "logo_image", class: "navbar-brand  mb-0 h1" %>
  <%= link_to "Phuket Manage", guests_locale_root_path( locale: root_locale ), id: "logo_text", class: "navbar-brand  mb-0 h1" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to t('menu.about'), guests_about_path, { class: "nav-link" } %>
      </li>
      <% if signed_in? %>
        <li class="nav-item">
          <%= link_to t('menu.dashboard'), dashboard_path, { class: "nav-link text-primary" } %>
        </li>
        <li class="nav-item">
          <%= link_to t('menu.log_out'), destroy_user_session_path, { method: :delete, class: "nav-link" } %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('menu.log_in'), new_user_session_path, { class: "nav-link" } %>
        </li>
      <% end %>
      <li class="nav-item">
        <% if I18n.locale == :en %>
          <%= link_to flag_icon(:ru) + " " + 'Ru', { locale: :ru, params: redirected_locale_params }, class: 'nav-link', data: {turbo: false} %>
        <% else %>
          <%= link_to flag_icon(:us) + " " + 'En', { locale: nil, params: redirected_locale_params }, class: 'nav-link', data: {turbo: false} %>
        <% end %>
      </li>
    </ul>
    <% if signed_in? && current_user.role?(['owner']) %>
      <div class="d-none d-lg-block">
        <%= t('app.tagline') %> |
        <%= link_to t('app.reservation_phone'),
          "tel:#{t('app.reservation_phone')}" %> |
        <%= mail_to t('app.reservation_email') %>
      </div>
    <% elsif signed_in? %>
      <span class="navbar-text">
        <%= current_user.name %>
      </span>
    <% else %>
      <div class="d-none d-lg-block">
        <%= t('app.tagline') %> |
        <%= link_to t('app.reservation_phone'),
          "tel:#{t('app.phone')}" %> |
        <%= mail_to t('app.email') %>
      </div>
    <% end %>
  </div>
</nav>
