


<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <%= link_to image_tag_s3("logo.png", { width: 30, class: "d-inline-block align-top"}), root_path, id: "logo_image", class: "navbar-brand  mb-0 h1" %>
  <%= link_to "Phuket Manage", root_path, id: "logo_text", class: "navbar-brand  mb-0 h1" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to t('menu.property'), root_path, class: "nav-link" %>
      </li>
      <% if signed_in? %>
        <li class="nav-item">
          <%= link_to t('menu.dashboard'), dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('menu.log_out'), destroy_user_session_path, { method: :delete, class: "nav-link" } %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('menu.log_in'), new_user_session_path, { class: "nav-link" } %>
        </li>
      <% end %>
      <li class="nav-item">
        <% if I18n.locale == :en %>
          <a href="/ru" class="nav-link"><%= flag_icon(:ru) %> <%= t('menu.ru') %></a>
        <% else %>
          <a href="/en" class="nav-link"><%= flag_icon(:us) %> <%= t('menu.en') %></a>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="d-none d-lg-block">
    <%= t('app.tagline') %> |
    <%= link_to t('app.reservation_phone'),
      "tel:#{t('app.reservation_phone')}" %> |
    <%= mail_to t('app.reservation_email') %>
  </div>
</nav>

