
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <%= link_to image_tag_s3("logo.png", { width: 30, class: "d-inline-block align-top"}), root_path, id: "logo_image", class: "navbar-brand  mb-0 h1" %>
  <%= link_to "Phuket Manage", root_path, id: "logo_text", class: "navbar-brand  mb-0 h1" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if signed_in? && current_user.role?(['Owner']) %>
        <li class="nav-item">
          <%= link_to t('balance'), balance_front_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('bookings'), bookings_front_path, class: "nav-link" %>
        </li>
      <% end %>

      <% if signed_in? && current_user.role?(['Transfer']) %>
        <li class="nav-item">
          <%= link_to 'Transfers', transfers_path, class: "nav-link" %>
        </li>
      <% end %>

      <% if signed_in? && current_user.role?(['Maid']) %>
        <li class="nav-item">
          <%= link_to 'Laundry', laundry_path, class: "nav-link" %>
        </li>
      <% end %>

      <% if signed_in? && current_user.role?(['Accounting']) %>
        <li class="nav-item">
          <%= link_to 'Balance', transactions_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Laundry', laundry_path, class: "nav-link" %>
        </li>
      <% end %>

      <% if signed_in? && current_user.role?(['Guest relation']) %>
        <li class="nav-item">
          <%= link_to 'Bookings', bookings_timeline_path(period: 45), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Check in/out', bookings_check_in_out_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Jobs', jobs_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Transfers', transfers_path, class: "nav-link" %>
        </li>
      <% end %>

      <% if signed_in? && current_user.role?(['Manager']) %>
        <li class="nav-item">
          <%= link_to 'Jobs', jobs_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Bookings', bookings_timeline_path(period: 45), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Houses', houses_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Check in/out', bookings_check_in_out_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Transfers', transfers_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Laundry', laundry_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Balance', transactions_path, class: "nav-link" %>
        </li>
      <% end %>

      <% if signed_in? && current_user.role?(['Admin']) %>
        <li class="nav-item">
          <%= link_to 'Jobs', jobs_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Timeline', bookings_timeline_path(period: 45), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Houses', houses_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Check in/out', bookings_check_in_out_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Transfers', transfers_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Laundry', laundry_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Balance', transactions_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Users', users_path, class: "nav-link" %>
        </li>

      <% end %>

      <% if signed_in? %>
        <li class="nav-item">
          <%= link_to t('menu.log_out'), destroy_user_session_path, { method: :delete, class: "nav-link" } %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('menu.log_in'), new_user_session_path, { class: "nav-link" } %>
        </li>
      <% end %>
      <li class="nav-item">
        <% if I18n.locale == :en %>
          <a href="/ru" class="nav-link"><%= flag_icon(:ru) %> <%= t('menu.ru') %></a>
        <% else %>
          <a href="/en" class="nav-link"><%= flag_icon(:us) %> <%= t('menu.en') %></a>
        <% end %>
      </li>
    </ul>
  </div>
  <% if signed_in? && !current_user.role?(['Admin','Manager','Accounting','Guest relation']) %>
    <div class="d-none d-lg-block">
      <%= t('app.tagline') %> |
      <%= link_to t('app.reservation_phone'),
        "tel:#{t('app.reservation_phone')}" %> |
      <%= mail_to t('app.reservation_email') %>
    </div>
  <% end %>
</nav>

