<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-0">
      <%= link_to image_tag_s3("logo.png", { width: 30, class: "d-inline-block align-top"}), root_path, id: "logo_image", class: "navbar-brand  mb-0 h1" %>
      <%= link_to "Phuket Manage", root_path, id: "logo_text", class: "navbar-brand  mb-0 h1" %>
      <span class="navbar-text">
        <%= "#{current_user.name} #{current_user.surname}" if current_user %>
      </span>
      <button class="btn btn-link admin-nav-toggler d-md-none" type="button" data-toggle="collapse" data-target="#admin-nav" aria-controls="admin-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar bg-light mt-0 pt-0">
          <%= render 'layouts/admin_menu' %>
        </div>
        <div class="col-md-10  ml-sm-auto col-lg-10 py-3 px-4">
          <%= render 'shared/flash' unless flash.empty? %>
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </main>
      </div>
    </div>
  </body>
</html>
